[2014-07-24 17:35] tadasv opened #2 "HA support for nimbus?"
Hi, I seems that nimbus does not have any sort of HA support at the moment? Are there any plans on adding one.

I currently have a setup where I'm running nimbus with marathon on slave servers. I'm also trying to understand what happens with existing topologies if nimbus dies and restarts on another server. Do you have any idea how people run storm-mesos in production settings, if anyone is doing

[2014-07-25 16:34] #2 closed, assigned to nobody

[2014-07-31 20:32] tadasv opened #3 "Is code from master branch supposed to work out of the box?"
I tried building storm-mesos myself from master branch and it seems that it's missing very important code. It never starts mesos scheduler driver thus, it never registers with mesos master. Is this intentional or I'm missing something here. I was redirected to this repo from https://github.com/nathanmarz/storm-mesos.

I'm still working on a MesosNimbus.java patch.

[2014-08-07 22:40] drewrobb opened #5 "TASK_LOST: Task launched with invalid offers: Aggregated offers must belong to one single slave."
I think this may be an issue with mesos itself rather than this framework. The call in `MesosNimbus` to `launchTasks` launches tasks for several offers at once. The tasks are correctly built (in terms of the offer->slave mapping), but mesos seems to get confused and think that the scheduler is running tasks for the same offer on different slaves.

I was able to resolve the issue by issuing one cal

[2014-08-13 13:15] yaronr opened #6 "Logviewer ?"
Hi

I would like to access the storm logviewer on one of the supervisors.
How do I do that?

(AFAIK the supervisors are started by mesos)

Thanks

[2014-08-18 16:43] #3 closed, assigned to nobody

[2014-08-19 21:30] #5 closed, assigned to nobody

[2014-08-21 08:39] gbuisson opened #9 "build-release.sh fails"
I need a recent version of storm-mesos (packing at least storm 0.9.1) but fail to find it anywhere so i'm trying to build a release myself.

Launching build-release.sh fails with the following output:

++ rm -rf _release
- echo
  ++ mkdir -p _release
- echo
  ./bin/build-release.sh: line 18: $1: unbound variable
- echo
- cd _release
  ++ unzip storm.zip
  unzip:  cannot find or open storm.zip, sto

[2014-09-06 20:11] #9 closed, assigned to nobody

[2014-11-04 16:52] agopinath12 opened #15 "Clarifications from documentation"
Do I need to repackage storm-mesos if I change the configs?

Do I need to fill in these settings?
# mesos.allowed.hosts:
# \-  host1
# mesos.disallowed.hosts:
# \- host1

Not sure because the storm.yaml file says I should not need to change anything below certain point.

Are there any default values for all the resource configs or do we need to set them?

Also when I start up the storm-ui tells me

[2014-11-05 14:37] asanami opened #16 "LocalFileServer does not resolve to fully qualified host"
The LocalFileServer.java file starts a web server for serving the storm.yaml file.  This resolves to host to its local hostname.  For our use-case we require the fully qualified hostname including its domain name:

[code]

Can ``getHostName()`` be changed to ``getCanonicalHostName()``

[2014-11-05 14:39] asanami opened #17 "bin/storm-mesos does not check exit status"
The storm-mesos wrapper in the bin directory ignores the exit status of storm.

[2014-11-05 14:46] asanami opened #18 "Download links for storm-mesos releases"
Can you please provide clarification on where to pick up releases for storm-mesos.  The storm.yaml file references download links to:

http://downloads.mesosphere.io/storm/storm-mesos-0.9.0.1.tgz

I cannot find releases from the official mesosphere web page, and more specifically looking for the storm-mesos-0.9.2 release.

Thanks

[2014-11-06 10:25] #15 closed, assigned to nobody

[2014-11-17 21:43] ramukima opened #21 "Connection Refused: storm-mesos"
Trying to follow this - https://mesosphere.com/docs/tutorials/run-storm-on-mesos/#step-1

./bin/storm-mesos nimbus

[code]

[code]

Note that mesos primary is running at port 5050 on the localhost.

Tried couple of things to get this to work, but no success...

export JAVA_OPTS="-Djava.net.preferIPv4Stack=true"

[2014-12-30 20:45] maverick2202 opened #24 "Wrong storm.yaml downloaded from nimbus"
I am using http://downloads.mesosphere.io/storm/storm-mesos-0.9.2-incubating.tgz. Issue is that nimbus has the it under conf/storm.yaml . However, when worker starts to fetch it is looking into storm.yaml (not inside conf).

This results in download error and topology doesn't start. This worked fine with storm-mesos-0.9. Any help will be appreciated why worker looking into wrong directory in 0.9.2

[2015-01-05 10:10] chengweiv5 commented on #21
[code]
Did you have zookeeper running on your 'localhost'?

[2015-01-05 10:15] chengweiv5 commented on #24
that should not true, it should look into conf/storm.yaml, however, the conf/storm.yaml in http://downloads.mesosphere.io/storm/storm-mesos-0.9.2-incubating.tgz by default point to

And seems there isn't such file, you may configure it to a correct url.

[2015-01-15 09:36] ondrej-smola opened #25 "Storm should detect correct nimbus.host on mutli-master mesos cluster"
My setup:
3 masters (mesos, marathon, chronos, storm) - ubuntu trusty
ips: 192.168.56.{10,11,12} - MASTER(1,2,3)

Using latest build (storm-mesos 0.9.3) + mesos 0.21.1
Running storm UI on all masters
Nimbus get started from Master1

After startup mesos elects MASTER2 to be leader.

storm.yaml

[code]

When i correcly specify MASTER2(current leader) as nimbus.host - UI works, but when i use MASTER1

[2015-01-15 12:02] ondrej-smola commented on #25
Problem solved - wrong entries in /etc/hosts - MesosNimbus get stuck waiting for acknowledgent (which was sent to wrong host)

[2015-01-15 12:02] #25 closed

[2015-01-16 07:47] ondrej-smola commented on #24
Same bug:

[code]
http://master1:33858/conf/storm.yaml  resolves ok

[2015-01-19 16:14] evilezh opened #26 "Configurable worker CPU/mem per topology."
I know - this makes harder to determine available slots, but would be very useful in terms of executing topology with required resources.
Probably that means that by default available slots is 0 and new slot is created at time topology is submitted to storm cluster. Then determine required resources and allocate them if possible, or allocate when it becomes available.

[2015-01-19 18:53] brndnmtthws commented on #26
You can in fact already do this, FYI. Just set `topology.mesos.worker.cpu`, `topology.mesos.worker.mem.mb`, and `worker.childopts` appropriately within the topology.

[2015-01-19 18:53] #26 closed

[2015-01-20 20:20] evilezh commented on #26
Ok - where does it happens ? Here is some code MesosNimbus.java:
for (String id : topologiesMissingAssignments) {
   TopologyDetails details = topologies.getById(id);
   double tcpu = MesosCommon.topologyWorkerCpu(_conf, details);
   double tmem = MesosCommon.topologyWorkerMem(_conf, details);
   if (cpu == null || tcpu > cpu) {
      cpu = tcpu;
   }
   if (mem == null || tmem > mem) {
      mem

[2015-01-21 00:10] brndnmtthws commented on #26
See the code in `MesosCommon.java`, here: https://github.com/mesos/storm/blob/master/src/storm/mesos/MesosCommon.java#L57-L106

[2015-01-22 19:47] evilezh commented on #26
These are static methods and compute from Map you provide.
And provided Map is nimbus configuration.
Probably we are on different wave.

Give me example you you will start one topology with 4cpu, 2gb per worker and another topology with 2cpu and 4gb per worker. How you will configure it within one cluster with current code.

[2015-01-22 19:49] brndnmtthws commented on #26
The topology details are extracted here: https://github.com/mesos/storm/blob/master/src/storm/mesos/MesosNimbus.java#L349

[2015-01-22 20:05] evilezh commented on #26
You are right, it is merging, shame on me :).

Maybe I did think so, because i focused on  this:
 for (String id : topologiesMissingAssignments) {
     TopologyDetails details = topologies.getById(id);
     double tcpu = MesosCommon.topologyWorkerCpu(_conf, details);
     double tmem = MesosCommon.topologyWorkerMem(_conf, details);
     if (cpu == null || tcpu > cpu) {
        cpu = tcpu;
}
   if

[2015-01-27 16:53] maverick2202 opened #27 "Is there a way to rebalance workers ?"
In storm, I could rebalance number of workers as well as executor to increase parallelism without any downtime. How can i do the same in storm mesos ?

e.g. i start topology in storm mesos with #cpu, #mem and num.worker. How do i increase cpu or mem or num.woker without any bringing down the topology ?

I could do following in storm.

http://storm.apache.org/documentation/Understanding-the-paralle

[2015-01-28 11:57] viktortnk commented on #24
The issue should be fixed since that PR got merged

https://github.com/mesos/storm/pull/10/files

[2015-01-28 22:17] #24 closed

[2015-02-05 05:37] chengweiv5 commented on #27
did you give it a try?

[2015-02-05 18:18] maverick2202 commented on #27
What should i try ?

[2015-02-19 20:33] brndnmtthws commented on #27
It should work the same as with non-Mesos Storm.

[2015-02-20 14:34] SEJeff opened #29 "How to run this entirely under mesos"
So following the instructions, it says to edit the `storm.yaml` file and add in `storm.zookeeper.servers` and `nimbus.host`.

So in a perfect world here is how this would work:
1. The storm-mesos project would read /etc/mesos/zk for the `mesos.master.url` attr if that isn't specified.
2. The framework would ensure nimbus runs somewhere, and you could run multiple instances to keep it up
3. The sup

[2015-02-25 03:02] chengweiv5 commented on #29
/etc/mesos/zk is introduced by mesosphere rpm package, not a work for all solution.

Not sure this is necessary, see [storm fault tolerance](https://storm.apache.org/documentation/Fault-tolerance.html)

Does storm stores nimbus into zookeeper? I'm not sure.

[2015-02-26 18:02] SEJeff commented on #29
I'm not sure. At least the framework could check if /etc/mesos/zk exists and use it if it does.

Ultimately, you shouldn't need to hardcode things if you're using mesos. That is after all, one of the biggest features, is that you don't care what server it runs on, so long as it does run :)

[2015-03-03 03:32] SEJeff commented on #29
I'll submit a PR as a python script which does this for you, is that ok? I'll register nimbus in zookeeper and then configure the UI to look at it.

[2015-03-04 03:36] tnachen commented on #29
I think having it passed in to the framework and/or optionally looking at /etc/mesos/zk is fine.

[2015-03-04 04:57] SEJeff commented on #6
@yaronr give me about a week to finish up and I'll post how I got it all running ontop of mesos + marathon without hardcoding the nimbus master or anything.

The gist of it is:

1. A marathon [application group](https://mesosphere.github.io/marathon/docs/application-groups.html). One for nimbus, and one for the storm ui. The app for storm ui has a dependency on nimbus, so one starts after the othe

[2015-03-04 04:58] SEJeff commented on #29
I got it all working, by adding a python wrapper script. The concept [is documented here](https://github.com/mesos/storm/issues/6#issuecomment-77097341).

What of this makes sense for the framework to natively do?

[2015-04-28 11:28] pdread100 opened #35 "Storm Authentication?"
Is Storm authentication being worked? Plans? Ideas?

[2015-04-28 16:23] pdread100 commented on #35
Some one off line answered some of my question, that is mesos storm should use the mesos authentication framework. So I will add this if no one else has or is doing so.

[2015-04-30 05:50] tnachen commented on #35
Please go ahead and help add framework authentication (principal, secret, etc) to this framework.

[2015-05-05 21:02] WalterDalton commented on #6
SEJeff - Could we use something like mesos-dns to indicate where the nimbus is located? It works well for Myriad and may work well here.

[2015-05-05 21:10] SEJeff commented on #6
It kind of defeats the point of mesos to require hard coding masters that might change. Mesos DNS is a reasonable workaround, as is my solution of having a python script write to ZK before starting nimbus and another to read from nimbus before starting storm ui.

The framework should do this natively.

[2015-05-05 21:13] WalterDalton commented on #6
Makes sense that the framework should do it natively, I was just suggestion the mesos-dns as a way that the nimbus/ui could be run from any node (given access to the code to run it) and where it landed wouldn't matter to the supervisors as they are pointing to a static name that resolves to a dynamic IP.

[2015-05-05 21:21] SEJeff commented on #6
True. Thanks for the suggestion

[2015-05-07 15:32] pdread100 commented on #6
Wouldn't the most straight forward approach be to have the supervisor/executor fire up the logviewer when mesos fires it up?

If no one is working this I would like to get the logview working under mesos.

[2015-05-19 17:45] pdread100 opened #39 "add conf directory"
I would like to add a conf directory to the repo to put the storm.yaml in and a log4j.xml so the supervisor gets deployed with logging turned on. This will also help bring the configuration in line with storm's.

[2015-05-19 17:50] pdread100 opened #40 "correct how the storm-mesos tgz file is named"
Currently creates apache-storm...tgz instead of storm-mesos...tgz and when deployed it fails.

[2015-05-20 10:39] pdread100 opened #41 "Dockerize supervisor"
There needs to be a docker image to launch a supervisor using container info, for isolation purposes.

[2015-05-20 10:40] pdread100 commented on #41
I will work this.

[2015-05-28 09:52] pdread100 opened #43 "Allow topologies to be executed as specific users"
Some users want the option of running their topologies as a specific user. This on the surface would be easy to do by setting the FrameworkInfo.setUser() to that user. However that would force the Supervisor and LogViewer ([PR](https://github.com/mesos/storm/pull/38)) to run as that user as well. There may be scenarios where this is not advisable.

It appears that if CommandInfo.setUser() is set t

[2015-05-28 09:58] pdread100 opened #44 "Code style checker"
I think project would benefit from a code style checker.

[2015-05-28 16:55] pdread100 opened #46 "Shutdown cluster via storm UI"
It would be nice if there were options to shutdown the cluster from the Storm UI.

[2015-05-29 11:49] pdread100 opened #47 "Upgrade to storm 0.9.4"
Are there any known issues with upgrading to the newer storm?

[2015-06-15 21:35] erikdw commented on #6
I've raised an issue with how the PR #38 will handle multiple MesosSupervisors / topologies being schedule onto the same mesos-slave host, please see:  https://github.com/mesos/storm/pull/38#issuecomment-111259423

My proposal for the immediate future is to back out #38 , but I'm not sure what we should do long-term.  I have some off-the-cuff thoughts here:  https://github.com/mesos/storm/pull/38#

[2015-06-24 18:03] dlaidlaw opened #50 "Storm framework consumes all mesos resources"
Whenever I start the storm-mesos nimbus framework in mesos, it grabs all the available resources, without a single topology submitted. In my little 3-node mesos-slave cluster I have 3.3 CPUs and 13.5GB Mem free before I start the storm-mesos nimbus, and 0 CPU's and 0 Mem immediately after. This is as reported on the mesos console.

Switching to the Frameworks tab on the mesos console shows Storm w

[2015-06-25 01:06] chengweiv5 commented on #50
This is correct, what you see `CPUs` and `Mem` in `Activate Frameworks` are resources offered, rather than used.

[2015-06-25 02:20] erikdw commented on #50
@dlaidlaw : yeaah.... so what you're witnessing is one of the biggest problems with Storm's mesos Scheduler:  it hoards resources.  It *does* release those resources back to the cluster on a rotating basis, but it still holds onto resources for awhile.  The reason it needs to hoard resources at all is that "normally" Storm's scheduling model expects that resources are statically present (as "slots

[2015-07-17 11:46] pradeepchhetri commented on #24
@viktortnk How can i get the version of `mesos-storm` with this fix ?

[2015-07-17 11:54] viktortnk commented on #24
I believe the best is to build it yourself. Check README for instructions. You might easily host it for free on a service like Bintray

Or for quick test I can suggest https://bintray.com/artifact/download/whisklabs/generic/storm-mesos-0.9.3-1.tgz (it is not the latest though)

[2015-07-17 12:54] pradeepchhetri commented on #24
@viktortnk Thank you Viktor. I tried using the link you sent. Do you know what should be the minimum resource available on a mesos-slave machine for any topology to start executing. I am running on t2.small instance (1CPU, 1000MB) as mesos-slave and i am seeing `Number of available slots: 0` in nimbus logs.

[2015-07-17 13:02] viktortnk commented on #24
@pradeepchhetri It will not show you slots available. Pool of resources is managed by Mesos.

Check these params in the end of the README

`topology.mesos.worker.mem.mb`
`topology.mesos.executor.mem.mb`

worker node should at least have another memory to fit 1 worker + 1 executor for topology.

[2015-07-17 14:14] pradeepchhetri commented on #24
@viktortnk Work perfectly !! Thank you Viktor.

[2015-07-17 14:56] pradeepchhetri commented on #24
@viktortnk I tried changing values of  `topology.mesos.worker.mem.mb` and `topology.mesos.executor.mem.mb` variables in `storm.yml` but somehow it is not picking. Otherwise everything works fine.

[2015-07-24 20:11] erikdw commented on #24
@pradeepchhetri : did you get that working?  Those values are per-topology, so you set them in the topology's `backtype.storm.Config` object that is passed to `StormSubmitter.submitTopology`.

[2015-08-08 01:24] echinthaka opened #52 "storm-mesos 0.9.3 download location"
Seems like `http://downloads.mesosphere.io/storm/storm-mesos-0.9.3.tgz` is still not available. Do we know when its gonna be available? In the mean while I created my own release and uploaded to a local location. But like to get it from mesosphere location.

[2015-08-14 01:29] erikdw commented on #52
@echinthaka : I'm assuming you're referencing the [`mesos.executor.uri` in the storm.yaml](https://github.com/mesos/storm/blob/3666d140029a5834c8410b3918d34b2c03343884/storm.yaml#L25-L27), which controls downloading of the mesos executor binary bits every time a MesosSupervisor is launched on a mesos-slave host.

I think we should probably remove that as a default configuration for a few reasons:

[2015-08-14 04:57] echinthaka commented on #52
thanks @erikdw . I was referring for an already built version hosted in mesosphere. I prefer that over a version we build on our own coz the code in github could change without somebody changing the version in pom.xml. Also, it will be uniform.

[2015-08-14 05:48] erikdw commented on #52
Ok, cool.  Yeah, I think we can have some "core committee" build it and put it on github.   I'll talk to @tnachen about this next week at mesoscon.

[2015-08-17 22:30] echinthaka opened #55 "Issues with getting storm-mesos 0.9.3 to work"
I ran `bin/build-release.sh` to build the latest release, deployed the release and was trying to run it. When I ran `bin/storm-mesos nimbus` it fails silently. Hence, I ran `sh bin/storm nimbus storm.mesos.MesosNimbus` and it fails with the following error. Really appreciate if someone can help me to fix this.

[code]

[2015-08-18 18:38] erikdw commented on #55
hey @echinthaka : how are you trying to run it?  I mean, it works fine for me in both the Docker-based setup that @tnachen created, as well as the vagrant-based setup that @pdread100 created.

I'd like to help with the issue you are seeing, but it's unclear to me what you are doing exactly.  `bin/storm-mesos nimbus` is the correct way to run it, at least in the setups I mentioned earlier.  And I'v

[2015-08-24 21:59] echinthaka commented on #55
@erikdw I'm trying to run this through the bash shell and I get that error when I do it. Is there a way to share the release you created so that I can try with it too?
Also, do you know, just like `http://downloads.mesosphere.io/storm/storm-mesos-0.9.tgz`, will mesosphere host `0.9.3` release too. I asked this earlier but still didn't see that happening.

[2015-08-24 22:05] tnachen commented on #55
@echinthaka we can host the 0.9.3 release but I did a discussion with @erikdw and we think the best solution is to create point releases with github and github allows us to the host binary downloads (and we're within the size limit). I think the next steps for us is to create a 0.9.3 release with github and we can then just point to that instead.

[2015-08-24 22:09] echinthaka commented on #55
thats awesome @tnachen . When do you think we will be able to see the release in github?

[2015-08-24 22:47] erikdw commented on #55
@echinthaka : I'll see if I can figure out how to do the upload to github myself now that @tnachen has imbued me with commit power for this repo.  Will try that later tonight.

Also, regarding the previous question about how you are running it, I would need more info beyond simpl that you are using a bash shell.  e.g., Are you trying to simply run this on a machine without python installed perhaps

[2015-08-24 23:13] echinthaka commented on #55
@erikdw I use ansible to setup the nimbus node and here is what I do there.

1. Through apt-get I install `python-setuptools`, `python-dev` and `mesos`. I guess with this we get all mesos executables and libraries.
2. Making sure zookeeper, mesos-slave or mesos-master is not running there
3. Download the storm-mesos release, extract it to `/usr/local/etc/storm`
4. Configure the `storm.yaml` and co

[2015-08-25 05:46] erikdw commented on #55
@echinthaka : honestly, there is more work needed before we have "real" releases.  Right now the version of the storm-mesos tarball only includes the storm version.  That's wrong, we need to also include the version of the storm-mesos repo that the tarball was built from.  Which version of storm do you *want* to be using?  I can build you a version of the repo with that and point you to it.  But w

[2015-08-25 05:55] echinthaka commented on #55
@erikdw I like to have  at least `0.9.3` but later the better.

[2015-08-25 08:28] erikdw commented on #55
hey @echinthaka : I've been struggling a bit in trying to get the `build-release.sh` script to pop out something reasonable for your set up (i.e., without weird permissions & ownership, and with the ability to start and emit logs).  Have you tried using the vagrant set up and comparing the 0.9.0.1 "official" release to the one you build yourself?

[2015-08-25 16:02] echinthaka commented on #55
Yes, that was in the back of my mind. Let me do that while you get time to work on this.
BTW, is there a way I can help you here? If you give me info, I may be able to spend time to help fix this.

[2015-08-25 16:58] erikdw commented on #55
Since the apache-storm zip file has odd permissions for its dirs, I'm trying to swap it for the tarball instead.

You said that you use "", but I'm guessing this is being done under sudo, right?

[2015-08-25 17:09] echinthaka commented on #55
Yes, running that with sudo

[2015-09-01 00:23] echinthaka commented on #55
finally found the reason for this error. It was me trying to run this as a shell command. Note: `sh bin/storm nimbus storm.mesos.MesosNimbus`. I didn't realize I was running a python script. Stupid me. It worked after I fixed it.

Thanks @erikdw and @tnachen and sorry about the false alarm.

[2015-09-01 00:23] #55 closed

[2015-09-01 00:32] echinthaka commented on #46
I think this is a tricky request since storm UI is maintained by storm project and that doesn't have any knowledge about the storm/mesos integration.

[2015-09-01 00:32] echinthaka opened #56 "Worker jobs getting lost since they can not download storm conf file"
I launched my first topology and seems like the worker processes can not come up since they can not download the conf file. Here is what I see in the logs.

[code]

The command I use to deploy: `./storm jar ~/Desktop/mytopology.jar com.chinthaka.org.MyAwesomeTopology`

~/.storm/storm.yaml file

[code]

May be this is minor but the worker process is marked as `LOST` instead of `KILLED` or `FAILED`

[2015-09-01 01:50] erikdw commented on #55
@echinthaka : aha!  Glad you got it working.  So seems building it yourself is ok, and we can wait on improving the versioning before forcing builds up onto github.

[2015-09-01 02:39] erikdw commented on #46
@echinthaka : depends on what "cluster" means in @pdread100's request.  If it means the Storm cluster then that seems more possible.  But if it means Mesos cluster then that is beyond the scope of the Storm UI.

[2015-09-01 03:22] echinthaka commented on #46
@erikdw assuming cluster means storm cluster, are you suggesting this project should improve the storm UI to enable that shutdown (via some kind of option)?

[2015-09-01 05:15] erikdw commented on #46
Nah, just suggesting it's possible if Storm provides a "kill all topologies" button, which would cause all the Worker processes to die.  That would cause all the [Supervisors to kill themselves](https://github.com/mesos/storm/blob/c13c13311b38e97ff0dba95c982461d18508700a/src/storm/mesos/MesosSupervisor.java#L217-L220), since no topologies' workers would be assigned for sometime.  Thus turning off

[2015-09-02 18:01] echinthaka commented on #56
found the reason for this issue. Seems like when it is setting up a local file server to serv conf files to workers, it passed in the serving directory simply as `conf`. This might be troublesome if the startup scripts are being called from else where.

[code]

The fix here would be to have a configuration parameter to point to the correct conf directory path in these situations.  I fixed this loc

[2015-09-02 18:01] #56 closed

[2015-09-02 18:01] echinthaka commented on #41
@pdread100 did u get a chance to work on this?

[2015-09-03 00:12] erikdw commented on #56
@echinthaka's has sent a PR with a proposed fix:  https://github.com/mesos/storm/pull/57

[2015-09-05 03:13] drewrobb opened #58 "Support for highly available nimbus upcoming feature in storm 0.11"
Jumping the gun here, but storm 0.11 should support HA nimbus when released: https://github.com/apache/storm/pull/354. It would be extremely nice if the mesos storm framework supported this directly. I see two options:

A) Just allow the user to run multiple `storm-mesos nimbus` processes directly, and configure the HA options separately if desired. Make sure that the framework leader and associat

[2015-09-14 06:59] ernisv opened #60 "Concurrent access to state on local FS by multiple supervisors"
Hi,
we are running storm-mesos cluster and occassionaly workers die or are "lost" in mesos. When this happens it often coincides with errors in logs related to supervisors local state.

By looking at the storm code it seems this might be caused by the way how multiple supervisor processes access the local state in the same directory via VersionedStore.
For example: https://github.com/apache/storm/

[2015-09-14 16:06] erikdw commented on #60
hey @ernisv : thanks for reporting your issue.  Fortunately, there is a trivial workaround:  don't set `storm.local.dir` in the storm config for your supervisors, and then storm-local will be instantiated in the Mesos Executor's sandbox, so it will not conflict.   You may find it necessary to set `storm.home` to wherever the storm bits are living on the mesos-agent hosts (formerly mesos-slave host

[2015-09-14 22:17] erikdw commented on #58
@drewrobb : I'm not yet familiar with the HA Nimbus implementation upcoming in Storm 0.11.  I found reference to the [design doc](https://github.com/Parth-Brahmbhatt/incubator-storm/blob/51fdc1a367dd9b8657c5245726e4edc66925cf6f/docs/documentation/nimbus-ha-design.md) though so will need to read through that to be able to answer you.

[2015-09-15 09:07] ernisv commented on #60
Brilliant! Just changing storm.local.dir to relative path indeed made each supervisor to use dir inside mesos sandbox.
Thanks a lot for the suggestion, Erik.

[2015-09-15 09:07] #60 closed

[2015-09-15 19:10] erikdw commented on #60
@ernisv : glad it worked for you!

[2015-09-16 21:05] dsKarthick commented on #27
@brndnmtthws +1

[2015-09-16 21:06] dsKarthick commented on #27
@erikdw @tnachen this issued should be closed?

[2015-09-16 23:13] erikdw commented on #27
Yeah, there is nothing storm-on-mesos specific here.  Closing.

[2015-09-16 23:13] #27 closed

[2015-10-07 09:22] erikdw commented on #47
Nope, storm 0.9.4 works fine, as does storm 0.9.5.

[2015-10-07 18:57] adam-mesos commented on #47
How about Storm 0.10.0? ;)

[2015-10-07 19:18] erikdw commented on #47
Now... that's a bigger question. :)   There have been a ton of changes in storm 0.10 (not yet released).  I have it on my roadmap to investigate 0.10 in the next month or so.

[2015-10-12 13:36] a-nldisr opened #61 "Vagrantfile problems"
Hi,

There are a few errors in the Vagrantfile
The first error i created a pull request for, the second error:

[code]

The ports for the slave are now bound to 80000 range in the Vagrantfile, Linux systems do not go past 65535 ports. But maybe its better to run both slave, storm and master on the same vagrant box to prevent overlapping of ports on two machines.

Right after that i got the next er

[2015-11-18 00:50] erikdw commented on #29
I think #65 fixes this too -- it has a marathon launching script that will launch everything.  @brndnmtthws : think we can close this?

[2015-11-18 00:55] erikdw commented on #18
The plan is to have these releases available for download from within the github project page.

But before that we need some version scheme.  i.e., the framework has enough changes that simply referring to the storm version is insufficient.   We should have a version for the framework itself, and also reference the storm version that is included within the package.  e.g., like how kafka packages r

[2015-11-18 01:00] erikdw commented on #40
This is already fixed:  https://github.com/mesos/storm/commit/5215c5f162bb0c39540fffdb2b7c13839b54d787

[2015-11-18 01:00] #40 closed

[2015-11-18 01:01] erikdw commented on #44
This is already fixed:  https://github.com/mesos/storm/commit/7f459a7dd42cc3b582e190c905ffbde1dcc949fd

[2015-11-18 01:01] #44 closed

[2015-11-18 01:02] erikdw commented on #41
This has been fixed in #65 by @brndnmtthws.  That superseded https://github.com/mesos/storm/pull/49

[2015-11-18 01:02] #41 closed

[2015-11-18 01:03] erikdw commented on #47
Storm 0.9.6 is now the version in this project as of #65 by @brndnmtthws , so I consider this fixed.

Storm 0.10 has been released, but is a much bigger change.  I haven't tested with it at all yet.

[2015-11-18 01:03] #47 closed

[2015-11-18 01:06] erikdw commented on #52
This issue is already discussed in https://github.com/mesos/storm/issues/18, I'm closing this issue since it's a duplicate.   As mentioned in that other issue, we need to come up with a verison/naming scheme, but that's not super hard.  And the binaries will be served from github proper.

[2015-11-18 01:06] #52 closed

[2015-11-18 01:06] erikdw commented on #35
This has already been fixed by #37

[2015-11-18 01:06] #35 closed

[2015-11-18 01:07] erikdw commented on #29
I've also spent a bit of time on a docker-compose config for launching everything, I need to come back to that.

[2015-11-18 01:14] erikdw commented on #16
This was fixed in https://github.com/mesos/storm/pull/20

[2015-11-18 01:14] #16 closed

[2015-11-18 01:26] erikdw commented on #50
@brndnmtthws has made some changes in #65 that enable [filtering of declined resources for a period of 2 minutes (by default)](https://github.com/mesos/storm/blob/9dc8258465ad0483a78aa3ba59e4cfea22594239/src/main/storm/mesos/MesosNimbus.java#L179-L189) after those resources have sat idle in the MesosNimbus's `_offers` buffer for a period of 75 seconds.

Here is the derivation of 75 seconds:
* [Rot

[2015-11-18 01:45] erikdw commented on #21
Yep, this problem is that there is no ZooKeeper available.

[2015-11-18 01:45] #21 closed

[2015-11-18 01:48] erikdw commented on #17
[Here is the version of storm-mesos](https://github.com/mesos/storm/blob/b007d54b1a7fad5044932798c1000149d14afd14/bin/storm-mesos) at the time of this bug report's creation.

And [here is the latest as of the time of my comment](https://github.com/mesos/storm/blob/faf35e577755da9ecd1f24da66e3f71002dbfe71/bin/storm-mesos)

[2015-11-18 01:51] erikdw commented on #39
Closing this for now, if in the future we want to do it we can just do it.

[2015-11-18 01:51] #39 closed

[2015-11-18 03:18] erikdw commented on #46
Filed a bug in the Storm project to add such a button:
* https://issues.apache.org/jira/browse/STORM-1216

[2015-11-18 03:18] #46 closed

[2015-11-18 04:02] erikdw commented on #17
The wrapper script is still ignoring the exit status in the [latest incarnation](https://github.com/mesos/storm/blob/faf35e577755da9ecd1f24da66e3f71002dbfe71/bin/storm-mesos).  We can do `sys.exit()` around the `subprocess.call` invocation to use its return value as the exit code of the script.

[2015-11-18 04:23] brndnmtthws commented on #29
Yeah, I think we can close this.

[2015-11-18 04:23] #29 closed

[2015-11-18 04:25] erikdw commented on #17
This will be fixed by merging the above change.

[2015-11-18 04:25] #17 closed

[2015-11-21 20:02] DarinJ opened #68 "Support for storm-0.10.0"
Storm 0.10.0 changed a few things that break storm on mesos.  In particular:
- LocalState.get now returns a TBase object (thrift related) instead of String.
- bin/storm is now a bash script instead of python
- snakeyaml is no longer in the classpath
- commons-lang upgraded to common-lang3 which effects imports

I spent a little time correcting these, and have a really rough working version [here](

[2015-11-22 00:39] erikdw commented on #68
@DarinJ : thanks for the research and prototype.  I haven't looked at the issues with storm-0.10.0 yet, but definitely wanna keep storm-0.9.x compatibility for now.   Not sure how hard a "shim" would be to write, but I suppose we could use maven profiles to separate out inclusion of some code / dependencies.

[2015-11-24 01:13] erikdw commented on #56
#57 had 2 separate changes embedded in it:
* the 1st change was intended to fix this issue (#56) with serving the config file and that never got merged because of the 2nd change:
* the 2nd change is more impactful, using `wget` to download the executor tarball.  This change is more involved and more questionable, and shouldn't have been clubbed together with the 1st change.  That issue is still ou

[2015-11-24 04:08] erikdw commented on #6
I've filed a ticket against the Apache Storm project to add support for multiple container-specific logviewers:  [STORM-1342](https://issues.apache.org/jira/browse/STORM-1342), thus allowing us to close PR #51.

Will require discussions with the Storm PMC type people to try to come to an acceptable design, I'm not planning on working on that in the next couple of months.

[2015-11-24 07:43] echinthaka opened #69 "Dockerized workers having issues starting container"
I have been trying to get the dockerized workers working but seems like the workers are not properly starting on mesos.

Here[1] is my storm.yaml. I'm getting this[2] error. Seems like `MESOS_NATIVE_JAVA_LIBRARY` is not getting passed into the [place](https://github.com/mesos/storm/blob/a1e79bb257d60ad5ccdb8f8d9c70daf6552eab85/src/main/storm/mesos/MesosNimbus.java#L801) thats creating the docker j

[2015-11-25 04:05] erikdw commented on #69
@echinthaka : are you experiencing this issue with the latest commits on master?  Did this work before the big commit in #65?  I haven't tried the Docker stuff in this project for awhile, but had it working prior to that big commit, and I don't think I did anything with MESOS_NATIVE_JAVA_LIBRARY.

[2015-11-25 05:14] echinthaka commented on #69
@erikdw I got the latest checkout from the master and did this. Didn't check it prior to #65 . I think I need to have #65 assuming it has dockerized storm workers/supervisors.
Until this gets resolved thinking of manually hacking the code in `MesosNimbus` class to hard code `MESOS_NATIVE_JAVA_LIBRARY` to `/usr/lib/libmesos.so`.

[2015-11-25 09:03] erikdw commented on #69
pre-#65 also works with docker, you have to run `bin/build-release.sh` and *then* `bin/build-release.sh dockerImage`.

[2015-11-25 17:08] echinthaka commented on #69
thanks @erikdw . In that case, I will get rebase to pre#65. BTW, what exactly is #65 adding then?

I see the following two on #65's commit message and hence thought its needed
[code]

[2015-11-25 19:21] erikdw commented on #69
@echinthaka : #65 adds a *ton* of stuff. :)   *Better* docker support, a marathon setup, support for reserved resources in mesos, etc.  Please consult the Description of that PR for more info.

Also, unless you have changes in place you don't need to "git rebase", you can just "git checkout".  Also, I'm not asking that you only run on the old version, I'm simply asking if you can reproduce the pro

[2015-11-27 10:15] salimane commented on #68
@erikdw @DarinJ we can use tag to deal with the compatibility issue

[2015-11-27 22:19] erikdw commented on #68
@salimane : can you please elaborate on how using git tags would help deal with the issue?

i.e., we cannot just create a "storm-0.9.6" tag and freeze the code in its current form for when people run storm-0.9.6.  We have more changes to be made to the framework.

A separate git branch could work, but requires double the work.   Ideally we would have a maven profile and/or some sort of bridge clas

[2015-11-28 02:26] DarinJ commented on #68
@erikdw @salimane I think a separate branch is way too much work and it almost always ends up breaking something.  I've looked at the effort to do profiles for this and it's pretty trivial, just gotta find time to do it.  I hope to have something next week (maybe the week after).

To give you an idea of my plan:
- Have two storm-local-state-0.XX maven subprojects. They will contain a class impleme

[2015-11-28 02:31] erikdw commented on #68
@DarinJ : that sounds like a solid plan to me!  Yes, time is always the hardest thing to come by. :)

[2015-11-29 18:04] salimane opened #70 "java.lang.RuntimeException: Couldn't greate generated-conf dir"
I'm getting the following on startup of the nimbus. anything I should have set ?
[code]

Thanks

[2015-11-30 01:18] erikdw commented on #70
@salimane : the "generated-conf" dir is a new feature from #65's changes.  Probably a permission issue w.r.t. whatever the pwd/cwd of the MesosNimbus process is (which is specific to how you are starting it).  Which is pretty specific to how you're launching.  @brndnmtthws : what is the recommended way to run MesosNimbus w.r.t. location and permissions to overcome this issue?

[2015-11-30 19:11] brndnmtthws commented on #70
Interesting. Nimbus currently tries to write to the CWD, but I see that's probably not the best way to do it. It might make more sense to use `storm.local.dir`. I'll follow-up with a PR.

[2015-11-30 19:20] brndnmtthws commented on #70
PR sent. Give it a shot, and let me know if it works for you.

[2015-11-30 20:39] salimane opened #72 "nimbus.host value in the case of multiple mesos masters"
When you have multiple mesos masters, which value should be set for the nimbus.host configuration ?
for example, I have  ``mesos.master.url: zk://master1:2181,master2:2181,master3:2181/mesos`` .

When I set ``nimbus.host`` to the hostname on each mesos master running ``storm-nimbus``, I end up with 3 storm framework registered on the mesos ui.

Thanks

[2015-11-30 20:42] JessicaLHartog commented on #72
Do you have a typo here? ` mesos.master.url: zk://master1:2181master2:2181,master3:2181/mesos`

It seems at the very least that you're missing a comma.

[2015-11-30 21:00] salimane commented on #72
@JessicaLHartog yep it was a typo.
Thanks

[2015-11-30 21:04] erikdw commented on #72
@salimane : we're confused -- are you saying it was a typo in the *question* or a typo in your config?  (because I see that you updated the question).

Furthermore, I'm confused about this statement "each mesos master running `storm-nimbus`"  --> are you saying that you're running 3 copies of `storm-nimbus`?  If so, then that is your problem -- you are indeed running 3 frameworks.  You should only

[2015-11-30 21:12] erikdw commented on #70
@salimane : please try out @brndnmtthws 's change in #71 and let us know if it fixes [this issue](#70) for ya.

[2015-12-01 07:23] erikdw commented on #69
@echinthaka : FYI, I *just* experienced this problem with the vagrant setup in this project, without using docker.  I'm working on improving the vagrant setup and this problem just seems to have randomly come up.  i.e., following the same steps I've been doing thru the day, I've somehow managed to get into a state where the MesosSupervisor fails to launch due to the same error you pasted above.

[2015-12-01 07:29] salimane commented on #72
@erikdw so even though I have 3 mesos masters, I should only run storm-nimbus on one of the master. So if that master goes down, the storm cluster goes down. I thought we would have some HA by run storm on mesos because mesos already jave HA if you have multiple mesos masters.
Thanks

[2015-12-01 07:34] erikdw commented on #72
@salimane : the choice of where to run your MesosNimbus is orthogonal to where you run your mesos-masters.

[2015-12-01 07:36] salimane commented on #72
@erikdw ah I see
Thanks

[2015-12-01 07:36] erikdw commented on #72
@salimane ^ please see my updates to my comment above.

[2015-12-01 07:36] #72 closed

[2015-12-01 08:34] erikdw commented on #69
:hourglass_flowing_sand: :no_mouth:   sooo.... I encountered your problem simply because I screwed up while moving some code around (I had `git stash`ed my storm.yaml changes to use the non-docker setup).

Looking at [the code you pointed at](https://github.com/mesos/storm/blob/a1e79bb257d60ad5ccdb8f8d9c70daf6552eab85/src/main/storm/mesos/MesosNimbus.java#L793-L801), we can see that @brndnmtthws h

[2015-12-01 15:27] brndnmtthws commented on #69
I'm not sure if the issue is actually DCOS specific, but for whatever reason the Docker env is not being passed to the executor:

https://github.com/mesos/storm/blob/master/Dockerfile#L15

So I added the following to make sure it gets set:

https://github.com/mesos/storm/blob/master/src/main/storm/mesos/MesosNimbus.java#L793-L801

Without this, the executor fails to start because it can't find lib

[2015-12-01 21:26] echinthaka commented on #69
@erikdw actually we are setting `MESOS_NATIVE_JAVA_LIBRARY` . Check here in the Dockerfile: https://github.com/mesos/storm/blob/master/Dockerfile#L15. Hence, I think, as @brndnmtthws mentioned this might be an issue with Mesos. Note that I'm NOT using DCOS but Mesos. Even with the fix @brndnmtthws had put in `MesosNimbus.java`, I'm still seeing that issue.

Wondering what a good workaround would b

[2015-12-01 21:32] brndnmtthws commented on #69
As an alternative, we could put something into `bin/storm-mesos` (which is a Python wrapper script) to set the env var correctly, if it's not set. I'm concerned it might break things for others, however. Thoughts?

[2015-12-01 21:33] erikdw commented on #69
Might as well read it from the config, a la other settings, no?

[2015-12-01 21:34] erikdw commented on #69
And @echinthaka: how are you deploying the MesosNimbus?  Are you running it from the Dockerfile?

As I mentioned earlier, it seems like if the MesosNimbus *does* have the `MESOS_NATIVE_JAVA_LIBRARY` variable in its environment, then it will be correctly propagated to the executor process.  Are you sure it's set in the MesosNimbus for you?

[2015-12-01 22:47] erikdw commented on #70
#71's changes fixed this issue.

[2015-12-01 22:47] #70 closed

[2015-12-02 00:49] echinthaka commented on #69
@erikdw yes I'm running it through the docker image.

When this was running within Docker, I got into that container and checked the env variable. And it is set correctly. So, for some reason it is not getting passed or read in `MesosNimbus` (this is similar to what @brndnmtthws mentioned related to DCOS as well I think)

[2015-12-02 01:25] erikdw commented on #69
I don't understand then -- if the environment of the MesosNimbus process has the variable in its environ (are you sure it's `MESOS_NATIVE_JAVA_LIBRARY` and not the `MESOS_NATIVE_LIBRARY` one?) then it would be set in the executor, right?

[2015-12-02 15:41] DarinJ commented on #68
@erikdw I found time! It's still a bit rough in terms of comments, headers, tests, and docs, but it runs the exclamation topology with storm 0.9.3, 0.9.6 and 0.10.0, using RELEASE=0.X.X bin/build-release.sh.  Probably a good time to get some feedback.  You OK with a WIP PR?  If so I'll submit later today, I already squashed my commits and rebased but expect I'll be making a few more commits before

[2015-12-02 22:12] erikdw commented on #68
@DarinJ :

1. Yup, a WIP PR would be great.
2. Totally agree that the versions being tied to the storm version is just wrong.  I'm not familiar with classifier tags, but from what you're saying it sounds good, though we *may* also want to have the storm (and mesos) versions stuffed into the version of the artifact, a la how kafka artifacts have the scala version shoved into 'em, as I [mentioned he

[2015-12-03 11:47] erikdw opened #73 "docker build inefficiency - maven artifacts not cached across runs"
As of PR #65 , the standard way of building docker images for this project has changed.  Now the `bin/build-release.sh` script is invoked as part of building the docker image.  This means that every time the code is changed as you iterate, when you build the docker image all of the maven artifacts have to be downloaded again.  We should figure out some way to cache these artifacts across build run

[2015-12-03 23:36] erikdw commented on #61
@a-nldisr : thanks for the report.  Breaking it down:

1. I didn't see a PR from you, so not sure what the 1st error was?
2. *ports going over 65535*:  I also noticed this issue and will be correcting it in a PR very soon.
3. *`Warning: Connection timeout. Retrying...`*: this isn't an issue.  It's just standard vagrant behavior, where it polls for the VM's SSH daemon to be ready, and it takes a li

[2015-12-04 01:27] erikdw opened #76 "storm-mesos versioning"
@brndnmtthws @tnachen @DarinJ @dskarthick @jessicalhartog

I'm opening this issue to create a place for us to brainstorm and decide on a new versioning scheme for this project.

##### Current version scheme
The version is currently just directly set to the version of storm being "used".  Where used means:
* included as build dependency of the java bits in this project
* bundling of the storm binar

[2015-12-04 07:01] DarinJ commented on #76
@erikdw I like maven artifact: storm-mesos-0.1.0-storm0.9.6.jar, it would really help with keeping track of framework version vs storm version.  I'm not certain I care about the Mesos version, but it wouldn't hurt.  I am pro making it an option in the build-release though as don't like editing poms much.

I don't mind making the changes in my PR as it will make it more coherent.  I submitted a WIP

[2015-12-04 23:51] brndnmtthws commented on #76
:+1: from me.

For the Docker automated builds, we can build automatically from tags and branches.

[2015-12-05 00:02] echinthaka commented on #76
+1 for the maven artifact naming scheme, but my only concern is would this be troublesome since we have to maintain support for multiple versions of storm and mesos at a given point of time?
For example, the moment one of these deps become backward incompatible, then our code AND the build system will be complex. Hence, would it makes sense to support only one storm version with the latest release

[2015-12-05 00:09] JessicaLHartog commented on #76
I'm in favor of the proposed:
`storm-mesos-0.1.0-storm0.9.6-mesos0.25.0.tar.gz` style naming because:
(1) Changes that are made to this project that are related to storm-version specifics may determine whether or not this project will run in a given setup (see [PR #68](https://github.com/mesos/storm/issues/68) as an example)
(2) Changes that are made to this project that are related to mesos-versi

[2015-12-05 00:45] erikdw commented on #76
@echinthaka : yup, I hear you that it could become an unseemly burden to support multiple versions.  But I wanna maintain support if it's relatively trivial to build against 0.10.0 and 0.9.x, which [@DarinJ's change](https://github.com/mesos/storm/pull/77) aims to provide (haven't had time to review it yet).

Notably, today this project doesn't even declare which version of storm are supported.  U

[2015-12-05 00:49] erikdw commented on #76
@brndnmtthws : cool, and that would somehow add the metadata into the Dockerhub build/image list, and also allow us to specify the version/tag in our `mesos.container.docker.image` config field?  (I'm confused by the lack of info in the Dockerhub interface.)

[2015-12-05 00:54] erikdw commented on #76
@JessicaLHartog : thanks for the examples and references.  And yes, I don't think we need to make superhuman efforts to be perfectly compatible as the landscape shifts.  I just really want the storm 0.9.x stuff to continue working for awhile at least.  I'm less scared about upgrading mesos. ;-)

[2015-12-05 00:57] erikdw commented on #18
The version naming scheme is being discussed in #76

[2015-12-05 00:59] erikdw commented on #76
@DarinJ : thanks for PR #77.  And sure, your PR seems a natural place to introduce this version scheme.  Regarding the initial version: sure, 0.1.0 seems reasonable, we can follow [semantic versioning (semver)](http://semver.org/) if we feel ambitious.

[2015-12-09 02:10] erikdw commented on #61
Resolution:

1. Not explicitly stated, so nothing can be done.
2. Fixed in PR:  https://github.com/mesos/storm/pull/80
3. I believe this to be standard vagrant behavior and not an issue
4. Since that seems to be specific to the reporter's environment, I don't think it's a general issue with the vagrant setup of this project.  (I've confirmed that at least 4 separate people are able to run this vag

[2015-12-09 02:10] #61 closed

[2015-12-09 09:21] a-nldisr commented on #61
Great! :+1:

[2015-12-10 02:31] erikdw opened #81 "add unit test for more than 1 storm workers being launched in 1 mesos executor"
We currently lack unit tests for this situation.  As a result we've made an ugly chain of changes:

PR #65 created a subtle regression where we could never launch more than 1 worker in a given executor (so at most 1 worker process per topology per host).
PR #78 attempted to fix this issue, but also added a new bug, where we subtract executor resources from offers more than necessary.
PR #79 attemp

[2015-12-10 06:36] erikdw opened #83 "automate release tagging and building"
We will soon have an actual versioning scheme implemented in this project (see #18, #76, #77).
When #77 is done, we can follow the process documented in #18 to perform releases.

However, it would be way snazzier if we could leverage travis-ci.org to:
1. automatically build the framework artifacts/packages/tarballs
2. tag the code with the version
3. upload the resultant framework packages/tarball

[2015-12-10 06:52] erikdw commented on #18
Per #76, we've agreed upon a version naming scheme, so when PR #77 is complete we can proceed publish our first "official" releases on this github project page.

### How to upload releases
* https://github.com/blog/1547-release-your-software
* https://help.github.com/articles/about-releases/
  * notably, releases are allowed to be up to 2GB in size, so we're good with the ~26MB releases we current

[2016-01-29 19:49] abhishekamralkar opened #89 "'stormconf.ser' does not exist"
I am getting below error

[code]

Any idea why this happening? This is old Storm bug but it got fixed in 0.9.3 version.

[2016-01-29 23:51] erikdw commented on #18
Now that @DarinJ's #77 change has landed we have the basis for creating actual builds.  I'll spend some time building a few variations and uploading them to the github project's releases page.

[2016-01-31 22:43] erikdw commented on #89
@abhishekamralkar : storm can be really noisy, emitting misleading/red-herring errors.  The above could happen when a worker takes awhile to come up and the nimbus reassigns the worker to another port or host/supervisor.  You should debug the timing of those logs w.r.t. when the nimbus is doing the assignments of storm executors onto slots.

[2016-01-31 22:44] erikdw commented on #68
Thanks @DarinJ for fixing this!

[2016-01-31 22:44] #68 closed

[2016-01-31 23:01] erikdw commented on #43
This relates to extensive efforts in storm-0.10.0+ to have user-specific topologies via "storm authentication":
* https://storm.apache.org/2015/06/15/storm0100-beta-released.html
* https://github.com/apache/storm/blob/master/SECURITY.md

[2016-01-31 23:04] erikdw commented on #76
With PR #77 landing we now have the groundwork in place to implement this versioning scheme.  I will leave this (issue #76) open for the moment in order to leave a cookie crumb pointing to commits for releasing the "first version" when I spend some time on that.

[2016-02-01 05:24] abhishekamralkar commented on #89
@erikdw : Do you mean to say Mesos is not able to allocate resource properly , or is there way we can increase timeout , redistribution / reassign the worker .

I am getting the same error when I using docker instead mesos uri's.

[2016-02-01 05:38] dsKarthick commented on #89
@abhishekamralkar Yours might be related to [STORM-130](https://issues.apache.org/jira/browse/STORM-130). You could try reproducing the bug by following the steps listed in the ticket. But in general, it looks to me like, the exception results from an improper cleanup.

[2016-02-01 05:54] abhishekamralkar commented on #89
@erikdw : Thanks . I will try it out the steps .What are your suggestions to do proper cleanup ?

[2016-02-01 06:07] dsKarthick commented on #89
@abhishekamralkar I was guessing when I said improper cleanup. Upon looking at [this commit](https://github.com/harshach/incubator-storm/commit/a16a95c5e8d889685389607f3a67514b73688e14?w=1) more closely, STORM-130 was fixed by downloading serialized stuff stored in zookeeper if the appropriate directory did not exist.

[2016-02-01 06:07] dsKarthick commented on #89
@abhishekamralkar What version of strom are you running?

[2016-02-01 06:09] abhishekamralkar commented on #89
@dsKarthick : I am running `STORM_RELEASE=0.10.0 MESOS_RELEASE=0.25.0`

[2016-02-01 06:15] erikdw commented on #89
@abhishekamralkar : you'll need to debug this pretty methodically I think.  Are you running in the [vagrant setup](https://github.com/mesos/storm/blob/3376813d8fa0e339c8c0321774e5572eeefb60bb/docs/vagrant.md) that is part of this project?   (I'm trying to figure out which log files I should point you at, but basically you need to look to see what step is actually failing, the `.../stormconf.ser' d

[2016-02-01 06:19] abhishekamralkar commented on #89
@erikdw : I am running my Mesos CLuster in AWS . If I paste config file here , will it help?

[2016-02-01 06:22] dsKarthick commented on #89
@erikdw might be right.

@abhishekamralkar Two things
1. How often do you see this error? - Do you see this error all the time when the workers start up?
2. Make sure to grep the logs to find out the first exception.

[2016-02-01 06:25] erikdw commented on #89
Won't hurt to paste the config, but it's unlikely that I'll spot a specifically bad thing in the configs.  You need to figure out *what* is failing, which involves looking at these logs:
* nimbus
* supervisor
* mesos master
* mesos slave
* mesos executor
* worker

I totally agree with Karthick on both of his points above ^.  Furthermore:
1. do you *ever* see a worker start up successfully?
2. Is t

[2016-02-01 06:27] abhishekamralkar commented on #89
@erikdw : Okay I will check out all the logs and paste details here . I am seeing this with all the topologies including the toy topology.

[2016-02-01 06:32] erikdw commented on #89
@abhishekamralkar : one off-the-top-of-my-head guess is that you might have the wrong URL for the storm-mesos executor tarball.

e.g., for the vagrant setup with the versions you specified, I set it like this:

[code]

[2016-02-01 06:35] abhishekamralkar commented on #89
@erikdw I am using this for mesos.executor.uri

```mesos.executor.uri: "file:///tmp/storm.tar.gz"```

[2016-02-01 06:42] erikdw commented on #89
And you've built from the HEAD of this project's master branch, uploading the resultant `storm-mesos-0.1.0-SNAPSHOT-storm0.10.0-mesos0.25.0.tgz` file as `/tmp/storm.tar.gz` on the mesos-slave hosts?

[2016-02-01 06:50] abhishekamralkar commented on #89
@erikdw : Below are the steps I follow

* git clone git@github.com:mesos/storm.git && cd storm
* STORM_RELEASE=0.10.0 MESOS_RELEASE=0.25.0 bin/build-release.sh

Once I got snapshot , I extract it and I change the ```mesos.executor.uri``` path and again compress it and scp to all the slaves at /tmp.

[2016-02-01 06:50] dsKarthick commented on #89
Zookeeper version? https://groups.google.com/forum/#!topic/storm-user/DcX79-qoSck

[2016-02-01 06:51] dsKarthick commented on #89
@abhishekamralkar Interesting. Did you check the permissions on the file you copied?

[2016-02-01 06:55] abhishekamralkar commented on #89
@dsKarthick : Here are my permissions

```-rw-r--r-- 1 ubuntu ubuntu  86M Feb  1 05:05 storm.tar.gz```

[2016-02-01 06:59] dsKarthick commented on #89
@abhishekamralkar Are you running storm processes as root? If not, do they have permissions to create the directory? I would expect the process to fail with an exception like `permission denied` in case of a permission issue - but just making sure.

[2016-02-01 07:01] abhishekamralkar commented on #89
Yes I am sunning storm as root user and also deployying toplogies as root user.

[2016-02-01 07:01] erikdw commented on #89
@abhishekamralkar : how are you running the nimbus?   Manually on some host, or within mesos via marathon or some other meta framework?   I ask because I'm curious about why you say you did this:

i.e., that setting is only read by the MesosNimbus, so it's unnecessary to make such a change to the tarball.  You can simply change the `storm.yaml` that is read by the MesosNimbus.

[2016-02-01 07:05] abhishekamralkar commented on #89
Hmm , so I am runnign it manually ```bin/storm nimbus``` and it is getting registered as Mesos Framework

[2016-02-01 07:08] erikdw commented on #89
@abhishekamralkar : ok, so another bit of info:  the config file that is read by the MesosSupervisor is supposed to be downloaded from the MesosNimbus's embedded Jetty, the MesosSupervisor / storm worker do not read the config file from within the tarball.  i.e., here's where the config file is added as a file for the mesos executor to download:
* https://github.com/mesos/storm/blob/6a1392a0c1181c

[2016-02-01 07:13] dsKarthick commented on #89
I already pasted the link, but do take a look at [this link](https://groups.google.com/d/msg/storm-user/DcX79-qoSck/gH8s_j8rSYoJ) where nmartz was involved.

[2016-02-01 07:18] abhishekamralkar commented on #89
@erikdw : Got it so I am doing something very silly here , what you suggest . I should keep the tar ball in the distribution and run ```storm-mesos nimbus```?

[2016-02-01 07:19] abhishekamralkar commented on #89
@dsKarthick sure I will take a look.

[2016-02-01 07:32] dsKarthick commented on #89
@abhishekamralkar I think @erikdw is suggesting a way to avoid extracting the tar for the sake of modifying `mesos.executor.uri ` in storm.yaml. To do that, you will have to do this on master host: Set STORM_CONF_DIR environment variable and run `storm-mesos nimbus`. Because mesos-nimbus distributes the config file to the workers, you could keep the storm.yaml in`/tmp/storm.tar.gz` as is.

[2016-02-01 07:36] erikdw commented on #89
thanks @dsKarthick : yup, that is what I was suggesting, thanks for digging up the `STORM_CONF_DIR` reference.  To be clear, when you say "on master host", you are simply meaning "on the host where the MesosNimbus is going to run", which in our vagrant setup is indeed called "master", but I don't want there to be any confusion that it needs to be run on a mesos-master host, since that would actual

[2016-02-01 07:50] dsKarthick commented on #89
@erikdw haha. Yeah, thanks for clarifying. @abhishekamralkar Because you mentioned you are running on AWS, do you have any prior experience running storm on mesos? If not, have you tried bringing up vagrant cluster on your local machine. If not, I would strongly recommend getting your local vagrant cluster running in order to gaining some operational experience before trying it on aws.

[2016-02-01 18:00] salimane commented on #76
@erikdw , awesome .

It would now be doubly awesome to just go to https://github.com/mesos/storm/releases and download releases build based storm version, mesos versions and storm-mesos versions :)

Thanks

[2016-02-01 22:43] drewrobb opened #90 "bin/build-release.sh dockerImage should be passed environment variables"
When I run `STORM_RELEASE=0.10.0 bin/build-release.sh dockerImage` the docker build command that gets run ignores my `STORM_RELEASE` setting when it runs.

[2016-02-01 23:21] erikdw commented on #90
Hmmph, yup. The `bin/build-release.sh dockerImage` isn't modifying the Dockerfile, and I'm not familiar enough with Docker to know what the "right" way to do that is.  i.e., is there some way to pass the fields when we invoke `docker build` such that we would set STORM_RELEASE and MESOS_RELEASE for the `bin/build-release.sh` invocation inside of the Dockerfile?

[2016-02-01 23:22] erikdw commented on #90
The workaround is to modify the Dockerfile by hand to have the STORM_RELEASE & MESOS_RELEASE environment variables set appropriately in the bin/build-release.sh line.  Might have to set them using an `ENV` Dockerfile command -- again, not something I've ever tried before.

[2016-02-01 23:29] erikdw commented on #90
Found this docker thread, seems that passing env variables to the Dockerfile is unsupported and would represent an anti-pattern.  That being said, I'm not sure what the *right* way to do it is.  Maybe have the `bin/build-release.sh` do a `sed` to replace fields in the Dockerfile before building?
* https://github.com/docker/docker/issues/6822

[2016-02-01 23:34] drewrobb commented on #90
I think I might have a solution using docker `--build-args` feature. I'll maybe have a PR later today...

[2016-02-01 23:36] erikdw commented on #90
oh, cool, thanks @drewrobb!

[2016-02-02 05:06] DarinJ opened #92 "Ability to set docker user and docker registry in build-release.sh"
This should be straight forward using environment variable similar to how MESOS_VERSION and STORM_VERSION were done.  This would enable publishing docker images to person github accounts and/or private registries.

[2016-02-09 01:58] #90 closed

[2016-02-22 08:22] erikdw commented on #89
@abhishekamralkar : is this still an issue?

[2016-02-22 09:05] erikdw opened #95 "improve docker image tag name"
@DarinJ had the idea to embed the storm/mesos versions into the tag (possibly in the version).
Benefit: allow it to be trivial to release a few different images on dockerhub.
Related to #18, #83, #92.

[2016-02-22 09:56] erikdw opened #96 "improve handling of mesos version in the build"
As noted in PR #91, we have a couple of manual modifications that are necessary when changing the mesos version:

1. `pom.xml`'s `mesos.version` property needs to be updated so that the package's included mesos dependency is correct.
2. (only applicable when using Docker image) we need to update the version of mesos in the `Dockerfile`.

### Update `pom.xml`'s `mesos.version`
We should consider so

[2016-02-22 10:41] erikdw opened #97 "support using WebHDFS to serve storm-mesos tarball"
PR #57 was an attempt to support use of WebHDFS to fetch the storm-mesos tarball.  However, the implementation in #57 was not ideal for non-WebHDFS use cases, since it avoids using the [Mesos Fetcher](https://mesos.apache.org/documentation/latest/fetcher/), and thus prevents any benefits of caching, etc. that are added to the Fetcher.

As to why we need _any_ special handling for using WebHDFS, it

[2016-02-24 01:29] erikdw opened #98 "refactor logging to use slf4j-api style"
Related to discussion: https://github.com/mesos/storm/pull/94/files#r53839345

[2016-02-24 01:30] erikdw opened #99 "refactor copious `String + String + String` styling to use `String.format()`"
Related to the discussion : https://github.com/mesos/storm/pull/94/files#r53839345

[2016-03-07 02:45] eli-jordan opened #100 "Only one worker node is started"
Not sure if this is the right place to ask this question, but I didn't find a mailing list specific to this project.

I have the mesos-storm framework running via marathon as per the instructions in the readme. I am able to run topologies successfully. However, it seems that only one storm worker (aka mesos task). I was expecting this to be controlled by the config when submitting the topology. e.

[2016-03-07 04:48] erikdw commented on #100
(Opening an issue seems the only way to ask such Qs, we don't have a mailing list for this project.)

Regarding the actual question:  the number of workers is setting the number of desired worker *processes* for your topology (it's not setting the number of "nodes").  And those worker processes correspond to Mesos Tasks as you pointed out.

So if you have less worker processes than expected, I'd c

[2016-03-07 04:57] erikdw commented on #89
Closing for now, @abhishekamralkar please reopen if necessary.

[2016-03-07 04:57] #89 closed

[2016-03-07 05:39] eli-jordan commented on #100
@erikdw Thanks for the helpful answer. Your guess was correct. I added

[code]

and saw four mesos tasks started when the topology was deployed.

On a vaguely related note. I ran into this when going through the storm trident tutorial, and noticed that the DRPC server is not started by the `run-with-marathon.sh` script. What would be the recommended way to launch the drpc server?

[2016-03-07 05:50] erikdw commented on #100
@eli-jordan : glad it helped.  Can you please give me a pointer to the "storm trident tutorial" (I wanna see how it led to here)?

Launching the DRPC server with marathon seems like a good idea.  I haven't learned about what *this* project is doing with Marathon yet...

BTW, if you know how to use DRPC in storm, you might feel like helping a persistent user on the storm-users list that keeps askin

[2016-03-07 05:55] eli-jordan commented on #100
Its just the tutorial on the storm website at [trident tutorial](http://storm.apache.org/documentation/Trident-tutorial.html)

I didn't really lead here, it just about using trident, and uses DRPC. I just happen to be testing my code on a storm-mesos cluster.

[2016-03-07 06:34] erikdw commented on #100
@eli-jordan : ah, well, you probably already know more than me, and definitely more than the person asking a million questions. :) The storm-drpc docs are *really* unclear about how to operate in a normal cluster outside of a "storm-in-a-box" type of cluster where you run everything inside the process (LocalCluster).

[2016-03-07 06:34] erikdw commented on #100
Closing this issue since I think the main Q is already answered.

[2016-03-07 06:34] #100 closed

[2016-03-08 02:28] dsKarthick opened #102 "Logs from mesos/storm repo are lost"
When I was playing around with vagrant, I noticed that we are losing the logs generated by mesos/storm repo. That is, the mesos/storm appication logs do not appear in the `nimbus.log` but logs from storm-core still appear in the `nimbus.log`.

[2016-03-08 02:34] dsKarthick commented on #102
The bug turns out to be related to shading. When we shade `org.slf4j`, we end up shading all the classes belonging to `slf4j-api` provided by storm-core. This causes slf4j not to bind to concrete implementation provided by storm-core. Eg. org.slf4j.Logger interface in slf4j-4j becomes org.slf4j.shaded.Logger and none of the Logger in the storm jar would implement org.slf4j.shaded.Logger.

[2016-03-08 22:10] #102 closed

[2016-03-11 21:37] Drakoskai opened #105 "The missing link"
I've been migrating my storm infrastructure over to be run by mesos and now I'm ready for the final test -- run the starter topology.  Problem is there's absolutely no information anywhere on the web about how to actually do this.  All links are either dead or point to something irrelevant.

So from your page:
" ./bin/storm jar -c nimbus.host=10.0.0.1 -c nimbus.thrift.port=32001 examples/storm-sta

[2016-03-11 21:54] dsKarthick commented on #105
@Drakoskai Have you looked at https://github.com/mesos/storm/blob/master/docs/vagrant.md ?

[2016-03-11 21:58] Drakoskai commented on #105
Yes, but I'll take a closer look.  My infrastructure is in OpenStack and not in Virtual Boxes.  I'm not using the vagrant portion of this to create an example.

[2016-03-11 22:11] dsKarthick commented on #105
@Drakoskai Definitely play around with the vagrant cluster. Hope you are running Virtualbox and Vagrant on Mac - not that it wont work on Windows/Linux but I haven't seen anyone run this repo on windows. Either way, feel free to post here if you need any help.

[2016-03-11 22:17] Drakoskai commented on #105
I clone github, overwrite the storm.yaml with my custom version.  Then I build/dockerize mesos-storm.  Then I run some json into marathon to describe the mesos/storm task (with constraints to the system it was built on).  Marathon starts it and I get a nimbus task.

Windows isn't involved -- I do use cygwin to ssh into the environment but aside from that everything is being done on Ubuntu.

[2016-03-11 22:28] dsKarthick commented on #105
Did you check to make sure that storm.yaml contains all the information that is present in https://github.com/mesos/storm/blob/master/storm.yaml?

I assume you are running `bin/build-release.sh dockerImage

What does `it` refer to - mesos nimbus/ ui / drpc or something else? What command does marathon use to start the component you are talking about?

What does "I get a nimbus task" mean? Do you m

[2016-03-11 22:35] Drakoskai commented on #105
I copy/pasted the entire storm.yaml from here and then I just made some edits for the master and the zookeepers.  Says it's a storm nimbus.  In marathon I can click on the first port and get the Storm UI.  it's running the "run-with-marathon.sh" from the local docker image I built after customizing it.  I know the second port is the thrift port.

Prior to mesos I always just copied my topology jar

[2016-03-11 22:43] dsKarthick commented on #105
At my company, we are not using marathon yet. However looking at README, `run-with-marathon.sh` starts nimbus and ui. As per README, the command to start those within docker is
[code]
Are you passing all the required parameters?

[2016-03-11 22:44] Drakoskai commented on #105
There seems to be a misunderstanding-- I'm not so much asking how to run storm as I am trying to figure out how to get a topology jar into it.  Since I'm not gaining any traction here I'll just write out my what my next attempt will be once I rebuild the server:

Install storm outside of docker, try running storm jar off of the non started external storm jar and see if I can target the storm nimbu

[2016-03-11 23:11] dsKarthick commented on #105
Ah, I see. So your components are all up in your marathon cluster, you have a topology jar and you are trying to submit the topology.

I am not sure what you mean by install. If I am running nimbus within docker, I *wouldn't* try to copy the jar into the docker container. I would use `bin/storm` that ships with storm binary to submit the topology as long as you point. The docker container has stor

[2016-03-11 23:20] Drakoskai commented on #105
:)

Awesome, thx! Since I've already got the binaries there from building I'll just use them for the purpose of testing

I'll mark this as closed, hopefully we're talking about the same thing :)

But what about using the name of the task since it's resolved using mesos-dns? I'll have to test it in the future, but theoretically I should be able to submit a topology from anywhere forward resolving t

[2016-03-11 23:25] #105 closed

[2016-03-11 23:31] dsKarthick commented on #105
You will have to look up mesos-dns. There are multiple ways you can achieve this
   1. Write a script that would fetch the nimbus task info from mesos-dns, change the storm.yaml appropriately and then run the docker container.
   2. Standup a http service which would do whatever is required to figure out the nimbus information and make it invoke bin/storm jar (and hopefully contribute the code bac

[2016-03-12 02:02] dsKarthick commented on #105
I squashed the commits on my local branch, cherry-picked it on to master and pushed it directly. https://github.com/mesos/storm/commit/a49e8ce1af34969daf0479b09ce7a741e181d4ef

[2016-03-16 22:06] dsKarthick opened #107 "Worker launch command contains references to non-existent & invalid directories"
Commit I am working on:
    https://github.com/mesos/storm/commit/a49e8ce1af34969daf0479b09ce7a741e181d4ef

Actions:
   * vagrant up
   * start nimbus
   * submit a topology

Problem:
    Following is the ps output of a running worker. The directories like `/mnt/mesos/sandbox/logs`, `/opt/storm/lib/`, etc. do not exist.

[code]

And making that readable instead of 1 fat line:
[code]

[2016-03-16 22:38] erikdw commented on #98
@dsKarthick : didn't #104 fix this?

[2016-03-17 14:04] dsKarthick commented on #98
Yup. We could close this issue.

[2016-03-17 14:04] #98 closed

[2016-03-21 23:50] erikdw commented on #107
I believe this is specific to using the Docker image option, since the `/opt/storm` path only is referenced by the `Dockerfile` in this repo:
[code]

[2016-03-25 21:41] salimane commented on #83
@erikdw  i could take of this.

[2016-03-26 00:34] salimane opened #116 "[ERROR] Halting process: ("Error on initialization") TProtocolException: Required field 'serialized_parts' is unset!"
I'm getting some exceptions trying to start nimbus. I built the package using the current master branch ending up with ``storm-mesos-0.1.0-SNAPSHOT-storm0.10.0-mesos0.28.0.tgz``

Below is the full stacktrace

[code]

[2016-03-26 06:04] erikdw commented on #83
@salimane : that would be great -- hopefully you've followed the discussions in #109 since it is related.

[2016-03-26 06:22] erikdw commented on #116
Unfortunately, I cannot reproduce this.  I used the vagrant setup in the repo, and built the package like so:
[code]

I also updated the `Vagrantfile` to install mesos-0.28.0:
[code]

Here's my guess about what you are facing:  perhaps you have changed the storm version from 0.9 to 0.10.0, and you didn't wipe out the storm-local dir where the LocalState file is stored.

[2016-03-26 06:29] erikdw commented on #116
Yeah, I like my guess:
* [storm-0.10.0's LocalState *_does_* have a reference "serialized_parts"](https://github.com/apache/storm/blob/v0.10.0/storm-core/src/jvm/backtype/storm/utils/LocalState.java)
* [storm-0.9.6 does _*NOT*_](https://github.com/apache/storm/blob/v0.9.6/storm-core/src/jvm/backtype/storm/utils/LocalState.java)

[2016-03-26 08:58] salimane commented on #83
@erikdw yep  and I think it's better to start somewhere. The first goal is to magically have these on the releases page:

[code]

Then, on docker hub, magically have these docker images appear :
[code]

Thanks

[2016-03-26 13:15] salimane commented on #116
@erikdw , you were right. Thanks

[2016-03-26 13:15] #116 closed

[2016-03-26 19:05] erikdw commented on #116
@salimane : ah, great to here!

[2016-03-26 19:43] erikdw commented on #83
@salimane : sounds great.  FYI, you *should* be able to use your own fork of this project for testing the auto-tagging-and-releasing.  TravisCI provides free service to OSS repos.  Not sure about DockerHub.

[2016-03-26 20:06] salimane commented on #83
@erikdw yep true

[2016-03-30 00:22] drewrobb opened #119 "ConcurrentHashMap serialization/type issue"
Building against current master I'm getting an exception.
@erikdw the exception is in mk-supervisor and I think is introduced by https://github.com/mesos/storm/pull/106 from using ConcurrentHashMap. I don't know if java 8 is officially supported, but internally we are using it. What I believe to be the issue is described a bit here: https://gist.github.com/AlainODea/1375759b8720a3f9f094

[code]

[2016-03-30 01:34] erikdw commented on #119
hey @drewrobb : sorry that #106 broke you!  I've been building with JDK 7, but running with JRE 8, so it seems that we're talking about building with JDK 8.  The link you posted seems very useful (though it's got a repeated typo of Convariance instead of Covariance).  Let me look into how best to handle this.

BTW, I also saw an issue with serialization with #106 , and [https://github.com/mesos/st

[2016-03-30 01:36] erikdw commented on #119
(BTW, I'm also unsure _why_ storm would want to serialize the entire Supervisor object as it heartbeats, perhaps it *does* have some merit that I'm not seeing.)

[2016-03-30 02:44] drewrobb commented on #119
Strange, looking at your code and reading the link that I posted it seems you are doing things correctly by casting the type to `Set<Integer>`. Also strange is that the pom.xml looks to set to build for java 7 right? https://github.com/mesos/storm/blob/master/pom.xml#L29. Maybe there is some other cause of my error.

[2016-03-30 07:07] erikdw commented on #119
I'm not sure that [those 2 lines](https://github.com/mesos/storm/blob/b6f232a5edfae4b0be7b747731a46bdd4ac2567f/pom.xml#L28-L29) have any effect actually, since they aren't referred to later in any of the `pom.xml` files, and we aren't using some ["basepom"](https://github.com/basepom/basepom) for this project.

The [`java.abi` setting](https://github.com/mesos/storm/blob/b6f232a5edfae4b0be7b747731

[2016-03-31 10:46] salimane commented on #58
@drewrobb  it seems 0.11.0 is now storm 1.0.0.
Storm 1.0.0 is going to be released the next weeks or so, so we should start checking support for 1.0.0 .

@drewrobb @erikdw had you have time to check on this ?
Thanks

[2016-03-31 15:07] lfundaro commented on #119
I think I might have stumbled upon into a similar/related issue. I'm getting this with the latest docker image build, which is using storm=0.9.6 and mesos=0.27.0. This happened while trying to run the example WordCountTopology.

[code]

[2016-03-31 15:21] lfundaro commented on #119
Quick update. In my case I'm using java7

[2016-03-31 18:11] salimane commented on #58
@DarinJ you might want to start migrating to 1.0.0 :D

[2016-04-01 00:15] erikdw commented on #58
@salimane : ah, I missed that change from 0.11.0 to 1.0.0 (I was assuming that both still existed, which would have been ultra-confusing with 2.0.0 also in the works!).

I haven't looked at 1.0.0 at all, except reading some random code reviews and emails on the storm user and dev lists.

I'm in a similar boat to @DarinJ, except my boat might be further from shore:
* We have over a dozen teams that

[2016-04-01 08:20] salimane commented on #58
@erikdw I was also bitten during testing by the migration from "logback" to "log4j 2" but, luckily, we are using puppet for server provisioning https://github.com/meltwater/puppet-storm. So there would be only one place to update.

[2016-04-02 07:22] erikdw commented on #119
@lfundaro : thanks for the extra info.  I haven't been able to reproduce these issues with storm-0.9.6, despite compiling with jdk 1.8 and running on jre 1.8.  Similarly, I compiled with jdk 1.7 and ran on jre 1.8 and had no issues.  Maybe if I used jre 1.7 it would reproduce for me. Or maybe if I tried storm-0.10.0. Sigh.

So... after looking further into the Clojure docs, I believe the problem i

[2016-04-05 17:36] lfundaro commented on #119
@erikdw  I just tested PR #121 and it solves the problem ! 😄
👏  thank you !

[2016-04-05 19:12] drewrobb commented on #119
I also can confirm that #121 fixes this. Thank you @erikdw

[2016-04-05 20:56] erikdw commented on #119
thanks for confirming @lfundaro & @drewrobb!   I'm going to merge in #121 now.

[2016-04-05 20:56] erikdw commented on #119
thanks for confirming @lfundaro & @drewrobb!   I'm going to merge in #121 now.

[2016-04-05 20:59] #119 closed

[2016-04-09 05:31] #83 closed

[2016-04-09 21:07] erikdw commented on #76
Thanks to @salimane for the contribution of #117 which allows us to automatically upload releases by .

Since we don't yet have the ability to use the `mvn release` plugin, I've taken the following steps to release `v0.1.0`:

1. [Prepared for `v0.1.0` release](https://github.com/mesos/storm/commit/98578c1e7451ead0e4570d8dc3079e38baaae55a) by modifying `project.version` and `project.parent.version`

[2016-04-09 21:07] #76 closed

[2016-04-09 21:08] erikdw commented on #95
I believe that #120 will fix this.

[2016-04-09 21:13] erikdw commented on #83
Interestingly, when I merged #117, it automatically closed this issue #83.  That is because the commit message contains the words: `fixes #83`

See this for more info:
 * https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-04-09 21:23] erikdw opened #127 "use mvn release plugin"
To perform releases we still have some manual steps we go through.  For an example, see [this description](https://github.com/mesos/storm/issues/76#issuecomment-207854029) of how `v0.1.0` was released.

We should instead use the `mvn release` command to create new releases.

Things to consider:

1. the tag should have a `v` prefix, so might need some tweaking to the `mvn release` configs to suppor

[2016-04-09 21:24] erikdw commented on #18
Awesomely we have reached the "glorious future" already with @salimane's contribution in #117.

We still should enhance the setup to allow use of the `mvn release` plugin so that there are less possibilities for manual screw-ups.  See #127.

[2016-04-09 21:24] #18 closed

[2016-04-09 21:24] erikdw commented on #96
#120 aims to fix this too.

[2016-04-09 22:06] erikdw commented on #102
#102 was fixed by #103.

[2016-04-12 17:52] salimane commented on #58
this just became real as storm version 1.0.0 was just released today https://storm.apache.org/2016/04/12/storm100-released.html :)

[2016-04-12 18:31] DarinJ opened #128 "Storm 1.0.0 Support"
Storm 1.0.0 just landed, I'm exploring what it'll take to get it running on Mesos.  Not sure the level of difficulty in this, but thought I'd open the thread.

[2016-04-12 19:52] DarinJ commented on #128
Spent a little time, and I got it to compile with 1.0.0, fortunately all issues with the executable code are changes to packages names `s/backtype/org.apache/g`.

Unfortunately, the tests are a little more broken as a few constructors are broken.

Open to suggestions.

[2016-04-12 19:59] erikdw commented on #58
@salimane : ohh no. :)  Thanks for pointing this out.

[2016-04-12 20:15] erikdw commented on #128
@DarinJ : Can you please push a branch with the refactor you did so far?   Tried some sed'ing like you suggested, but have a bunch of issues still.

[2016-04-12 20:40] DarinJ commented on #128
@erikdw take a look at https://github.com/DarinJ/storm/tree/1.0.0-WIP, I'm not at a box with git right now but I can push to a like branch later.  `STORM_RELEASE=1.0.0 ./bin/build-release.sh mvnPackage` compiles but 5 tests fail, I'm also quite certain I broke 0.9.x 💣 and 0.10.x 💥.

[2016-04-13 00:06] erikdw commented on #128
Sigh, `1.0` is a big PITA :(   ...  I *have* to retain support for `0.9.x`, so I have no idea how to support `1.0+` in the same code, without a bunch more shims (e.g., `MesosNimbus` implements either `backtype.storm.scheduler.INimbus` OR `org.apache.storm.scheduler.INimbus`).  Keeping 2 separate branches and porting changes seems decidedly unfun.

[2016-04-13 01:16] DarinJ commented on #128
Yeah a few c style ifdefs would be awesome right now :(.  I'm also mostly still 0.9.6 now and only testing 0.10.x.  I'll look into it some more later but thought I'd start the conversation.

[2016-04-13 01:27] erikdw commented on #128
@DarinJ : so I got the tests to work for `storm-1.0.0` based on your branch with a number of changes.  Main changes:
* change "config maps" from `Map<String, TopologyDetails>` type (which is just *wrong*) to just `Map`.
* add in a couple of keys that are required by TopologyDetails via asserts now:
 * `topologyConf.put("topology.worker.max.heap.size.mb", 768.0);`
 * `topologyConf.put("topology.pri

[2016-04-13 02:16] erikdw commented on #128
Here's the MesosNimbus and ui running on storm-1.0.0:
-----
_Haven't yet rebuilt a topology and tried launching it_

<img width="1440" alt="screenshot 2016-04-12 19 13 37" src="https://cloud.githubusercontent.com/assets/1111441/14480957/f4e8864e-00e2-11e6-8208-77a7e8d1b87f.png">

[2016-04-13 02:28] erikdw commented on #128
Here's proof of the MesosSupervisor and worker running on storm-1.0.0:
------
<img width="1440" alt="screenshot 2016-04-12 19 27 51" src="https://cloud.githubusercontent.com/assets/1111441/14481124/c8b91992-00e4-11e6-84c0-273ac3f94ebb.png">

[2016-04-13 02:29] DarinJ commented on #128
@erikdw you've been busy! Thanks, I'll check it out tomorrow.

On Tue, Apr 12, 2016 at 10:16 PM, Erik Weathers <notifications@github.com>
wrote:

[2016-04-13 05:53] salimane commented on #128
@erikdw 👍  very nice. Great Job :)

For the support , we can decide to make storm-mesos 0.2.0 compatible only with storm 1.0.0 and then remove  all the code from 0.9.x  and 0.10.x. That would clean up a lot of things and be leaner.
What do you guys think ?

What about HA from storm 1.0.0, have you done anything there ?

I'm very excited for storm 1.0.0 :)

Thanks

[2016-04-13 06:18] erikdw commented on #128
@salimane : Thanks!   Regarding rev'ing the project up to 0.2.0 or 1.0 or something and dropping earlier storm version support:  unfortunately, I still have some things I wanna updatein storm-mesos running on storm-0.9.x before declaring it "done".  Specifically, we have some changes for the slot scheduling that greatly improve it's handling of corner cases.  Sadly, we cannot focus on getting thos

[2016-04-13 06:20] erikdw commented on #128
@salimane : also, regarding this question:

Nope, haven't done anything, except notice the interesting thing in the screenshot of the Storm UI:  2 Nimbuses sitting there!

[2016-04-13 06:27] salimane commented on #128
@erikdw,  yep as you said in the second paragraph, we can still do minor update to storm-mesos 0.1.x and have 0.1.1, 0.1.2... etc.

Then 0.2.0 would be only for storm 1.0.0 +

[2016-04-13 06:28] erikdw commented on #128
Oh, and the fact that the travis deploy integration is based on the git tag should allow us to trivially continue making releases from each branch (0.1.x and master) right?

[2016-04-13 08:18] salimane commented on #128
yep exactly, you are right :)

[2016-04-18 04:11] erikdw commented on #107
@dsKarthick :  I'm still unsure what the issue is here.

 The docker images I've looked at *do* have `/opt/storm/lib`.

Also, regarding `storm.log.dir`, it just uses the MESOS_SANDBOX environment variable that is set explicitly by mesos's docker containerizer code:
[code]

So I'm closing this for now.  Please reopen if you have more info.

[2016-04-18 04:11] #107 closed

[2016-04-18 05:17] erikdw commented on #97
Notably, Mesos `v0.29.0` will support setting the URI's filename:
* https://issues.apache.org/jira/browse/MESOS-4735

So that should give us the ability to get this working!  If the URI is webhdfs, we can do some parsing of it to set the `CommandInfo.URI.filename` to the bare `foo.tar.gz` name (or `foo.tgz`), and the Mesos fetcher should take care of unpacking it for us.  Alternatively it can just

[2016-04-18 05:18] erikdw commented on #97
@echinthaka : FYI ^ we can now work on supporting WebHDFS URIs!

[2016-04-18 07:02] erikdw commented on #95
Fixed by #120.

[2016-04-18 07:02] #95 closed

[2016-04-18 07:15] erikdw commented on #92
@DarinJ : can you please look at our post-#120 world (specifically the `Makefile` added by #120), and see if it suffices for what you had in mind?  For pushing to our own registry it seems that setting the `DOCKER_REPO` is sufficient, since Docker says you can just [put the registry hostname + port in the repo name](https://blog.docker.com/2013/07/how-to-use-your-own-registry/).   And perhaps that

[2016-04-18 13:24] DarinJ commented on #92
@erikdw yeah I think DOCKER_REPO handles it nicely! Thanks @salimane!

[2016-04-18 20:27] #92 closed

[2016-04-19 19:39] drewrobb opened #132 "Framework not declining offers"
We observed in production our Storm framework having outstanding offers persist for much longer than the expected 2 minutes (https://github.com/mesos/storm/blob/9dc8258465ad0483a78aa3ba59e4cfea22594239/src/main/storm/mesos/MesosNimbus.java#L179-L189). I verified that the offerId of the offer was the same for at least 10 minutes, so it wasn't just a different offer for the exact same resources. I o

[2016-04-21 23:44] erikdw commented on #132
hey @drewrobb sorry for the delayed response.  Can you please let me know what the values of these config options are for you?

[code]

[2016-04-21 23:48] drewrobb commented on #132
nimbus.monitor.freq.secs	 = 10
mesos.offer.expiry.multiplier = is not set

This is from the nimbus UI configuration section. Neither are set in my storm.yaml

[2016-04-21 23:48] drewrobb commented on #132
nimbus.monitor.freq.secs	 = 10
mesos.offer.expiry.multiplier = is not set

This is from the nimbus UI configuration section. Neither are set in my storm.yaml

[2016-04-22 15:39] duggan opened #133 "Persisting topologies through Mesos/Storm migrations"
We've got Mesos/Storm deployed via Marathon and it's been working quite nicely, but in the case where the scheduler fails, or is killed, Storm will be brought back up fresh, without any of its topologies.

How do others handle this? We ended up writing Marathon app definitions for each topology that check with Storm whether a given topology is running, and submit it if it's not, but it feels clunk

[2016-04-22 16:21] DarinJ commented on #133
Currenlty I deploy the Storm/Mesos Nimbus via a dedicated node.  Some use external volumes and reservations with marathon, the reason is the the Nimbus stores some of it's state locally (including the frameworkID, which should really be fixed).  With HA Nimbus in 1.0.0 there might be better options to explore as we start looking at upgrading the framework.

[2016-04-22 19:20] erikdw commented on #132
Can you please clarify which commit SHA you are running the framework from?  The one you linked isn't at HEAD, and there have been some changes that might affect behavior in this area.  (I have a lot more that I've written that I'll send when I get this info.)

[2016-04-22 19:25] drewrobb commented on #132
I'm running 6b31108 (I think that link was just stolen from #50). Also, I don't know if my initial report was clear, the vast majority of offers are declined, there are just a few that get stuck.

[2016-04-22 19:51] erikdw opened #134 "revive reviveOffers"
[@brndnmtthws introduced the invocation of `_driver.reviveOffers()`](https://github.com/mesos/storm/blob/af8c49beac04b530c33c1401c829caaa8e368a35/src/main/storm/mesos/MesosNimbus.java#L322-L323) to allow the framework to get previously declined offers sent back to itself.

Then the call was was [inadvertently removed by @dsKarthick in this refactoring change](https://github.com/mesos/storm/commit/

[2016-04-22 19:51] erikdw commented on #134
Note: discovered this issue while responding to #132 .

[2016-04-22 20:06] erikdw commented on #132
@drewrobb : hmmm, I'm surprised by the behavior you are reporting.

Let me clarify that there are 2 behaviors involved in [the lines originally pointed at](https://github.com/mesos/storm/blob/da06e446fb750d8624280c39f3c0eb888a6a530b/storm/src/main/storm/mesos/MesosNimbus.java#L227-237).

1. The ["offer filter refused_seconds"](https://github.com/apache/mesos/blob/0.25.0/include/mesos/mesos.proto#L

[2016-04-22 20:20] drewrobb commented on #132
Thanks for clarifying all that, I think the issue is either with 2) (although maybe something outside of that exact code and configuration). Total speculation, but say nimbus is killed while it has a pending offer, would it know about that offer when it starts back again? Is there any other place where state about pending offers between nimbus and mesos could get out of sync?

I was running mesos

[2016-04-23 19:07] erikdw commented on #97
Notably, in [MESOS-4735](https://issues.apache.org/jira/browse/MESOS-4735) the field was changed to `CommandInfo.URI.output_file` and the semantics were adjusted a bit:

    Add subdirectory support to URI.output_file field.

    URI.output_file allows the user to specify the path of the file that'll
    be saved in the sandbox when the URI is fetched, but previously it would
    fail at fetch tim

[2016-04-28 01:37] DarinJ commented on #128
@erikdw We've been playing with our mod's a bit which ended up working pretty well. While we're not in a hurry to jump to storm 1.0.0, we'll probably skip 0.10.X and jump to 1.0.0.  I'll explore the option of shim v branch to see if it's worth while, though I'm not optimistic with the number of method signatures that changed in the unit tests.

There are still a number of additional things that sh

[2016-04-29 01:56] erikdw commented on #128
@DarinJ : sounds good, we're also busy for the moment.  And I'm also excited to figure out how to get HA Nimbus working directly on Mesos.  Regarding "pacemaker" (the hearbeat handling server) I remember reading something, but I'm not familiar yet.  I *assume* we should set it up too... but don't "know" for sure.

[2016-04-29 02:21] erikdw commented on #99
Done

[2016-04-29 02:21] #99 closed

[2016-04-29 09:06] erikdw commented on #69
Closing for now, I have been unable to reproduce this issue and haven't heard back from the reporter.

[2016-04-29 09:06] #69 closed

[2016-05-13 00:06] payneio opened #137 "Vagrantfile doesn't work"
It needs an `apt-get update` in there for the java install.

[2016-05-13 00:33] erikdw commented on #137
Can you tell me the error you got for the Java install?

[2016-05-13 00:36] payneio commented on #137
`E: Unable to locate package oracle-java8-installer`

[2016-05-13 01:07] erikdw commented on #137
Thanks for the report and fix!

[2016-05-13 01:07] #137 closed

[2016-05-18 02:03] drewrobb commented on #132
Small update: even with `--offer_timeout` we were running into problems again. Taking some more observations it appears that many of the offers are refreshed immediately instead of after 120 seconds (as you described for behavior 1). The way I have observed this is noticing an offer for a particular host go away and then immediately come back (the host is the same but the offerID changes). The fra

[2016-05-18 02:18] erikdw commented on #132
thanks for the update @drewrobb.   So if I'm understanding you correctly, you are saying that the framework is *declining* an offer and then its constituent resources are sent back immediately (in a new offer) to this same framework?  You're *not* talking about the leftover resources from a task that used part of an offer, right?

I'm not super familiar with all the vagaries of the mesos resource

[2016-05-18 02:35] drewrobb commented on #132
I can't confirm that the framework is declining the offer. The offer may have been timed out by our `--offer_timeout` setting, I'm not sure how to tell. I'm not using any non default mesos resource handling.

[2016-05-18 02:39] erikdw commented on #132
@drewrobb : hmm, I'm a bit confused about what the issue is then?  What are you expecting to happen in this case?  Can you confirm some exact timings?  I'm *assuming* you're running some other frameworks in the cluster and the behavior you're seeing is that the offers are largely (or all?) getting hoarded by the storm-mesos framework?  Maybe we can jump on a call or something tomorrow.  My email i

[2016-05-19 22:25] drewrobb commented on #132
@erikdw I'd be happy to jump on a call but I did some more debugging and I keep on learning more about what might be happening, so I think I should jot down what I have learned so far.

First some more background on the actual problem: We are also running marathon. Our cluster gets to a state where there is only one slave in the cluster with enough resources to launch some big task on marathon. I

[2016-05-20 15:58] dsKarthick commented on #132
@drewrobb Is your problem same as `An app stays in "Waiting" forever` listed in https://mesosphere.github.io/marathon/docs/troubleshooting.html? If so, are you also running storm on marathon or outside of marathon? If you are running storm outside of marathon, are you using dynamic/static reservation features of marathon?

[2016-05-20 16:08] dsKarthick commented on #132
@drewrobb Another question, do you "constraints" feature as mentioned in https://mesosphere.github.io/marathon/

[2016-05-20 16:32] drewrobb commented on #132
@dsKarthick that sort of describes my issue, but I have confirmed that it is storm that is hoarding offers in a way that I don't think it is meant to and also in a way that is independent of my marathon usage. I've verified the following multiple times:

1) Some marathon apps are stuck waiting/

2) Storm has outstanding offers/

3) Stopping the storm scheduler manually allows the marathon apps to

[2016-05-20 19:09] dsKarthick commented on #132
@drewrobb I see that @erikdw already pointed out [https://github.com/apache/mesos/blob/0.25.0/include/mesos/mesos.proto#L1161-L1173](offer filter refused_seconds). But you are observing that the resources are being re-offered immediately. Is storm framework is using any of the offers that you think are being hoarded? If so like @erikdw mentioned in his earlier comments, [https://github.com/apache/

[2016-05-20 19:33] drewrobb commented on #132
I found some nimbus logs that may be very helpful. See https://gist.github.com/drewrobb/78d0cbea14e2b78cacfa7e3a50f3578c

Here is what I observe in this log:

- The log shows everything happening during ~10 minute period. We have `offer_timeout` set for 10 minutes.

- activity_grouping topology is running on 5 workers, it should be running on 8, thus nimbus is not immediately declining offers. `To

[2016-05-20 22:53] dsKarthick commented on #132
Logs are interesting indeed. Helped me identify a bug https://github.com/mesos/storm/blob/master/storm/src/main/storm/mesos/schedulers/DefaultScheduler.java#L48. It should be `private final Logger log = LoggerFactory.getLogger(DefaultScheduler.class);`

I am assuming that your storm-core logs like below are going to a different location.
[code]
Let me try to reproduce it.

[2016-05-24 04:45] dsKarthick commented on #132
@drewrobb I couldn't reproduce the problem on Friday. But earlier today, I *indavertantly* reproduced a problem with the symptom that you described. Realized while talking to @erikdw that I had built the stom-mesos archieve wrong (I used mvn package and used the resultant jar to deploy rather than using the one resulting from bin/build-release.sh). The moment I re-deployed the correct version, I c

[2016-05-24 05:50] erikdw commented on #132
@dsKarthick : Warriors game is tomorrow, so I'll be unavailable from 5:30pm on.

[2016-05-24 18:30] drewrobb commented on #132
@erikdw @dsKarthick today may work, I think I will have some time around 3-4pm

[2016-05-24 20:06] dsKarthick commented on #132
@drewrobb 3-4pm it is then! Lets do a hangout. Could you email us at {d.s.karthick@, erikdw@}gmail.com.

[2016-05-25 00:22] erikdw commented on #132
Thanks for meeting with us today @drewrobb .    Our understanding of this issue is:

1. The core Nimbus logic is calling `INimbus.allSlotsAvailableForScheduling()` with a topology that "needs assignment", thus triggering the storm-mesos logic to hold onto offers in order to formulate slots out of them and keep them until `INimbus.assignSlots()` is called by the core Nimbus.
2. However, the core Ni

[2016-05-31 06:45] jaimelive opened #140 "Storm 0.10 Thrift port type bug - Outdated docker image"
A bug interpreting the thrift port as a long instead of an int has been fixed by storm as seen in https://issues.apache.org/jira/browse/STORM-1645
however the docker images at mesos/storm and mesosphere/storm are still outdated.

[2016-05-31 12:42] salimane commented on #128
any update on this ? :(

[2016-05-31 14:12] DarinJ commented on #128
@salimane not really I planned to do some work this weekend but decided to go strawberry picking instead.  Hoping to get to it soon.  Definitely going with a separate branch though, I determined shims were to much work.

[2016-05-31 21:57] erikdw commented on #140
@jaimelive : so you're pointing out that we should upgrade the storm version from 0.10.0 to 0.10.1 within the project.  Totally agreed!  I'll handle that.

[2016-05-31 22:06] erikdw commented on #128
@salimane & @DarinJ : yeah, branches seem the way to go.  I have work time allocated for this during the next 2 weeks, so I'll work on it.

Here's the proposal:

1. `master` branch:
   * will be for `storm-1.0`+, because it has the package path change (`backtype` to `org.apache`)
   * will remove the shim modules and code
2. `storm-0.x` branch:
   * will be for `storm-0.9.x` and `storm-0.10.x`.

[2016-06-04 21:03] erikdw opened #144 ""docker push" needs retries"
During the building of release v0.1.3 we noticed a failure during `docker push`, which was due to `docker.io` returning an HTTP 500 error:
* [Failing build](https://travis-ci.org/mesos/storm/jobs/135301928)
* [Failing build (raw log)](https://s3.amazonaws.com/archive.travis-ci.org/jobs/135301928/log.txt)

We have 2 options it seems:
1. add a bash retry loop inside of the Makefile's `push` rule whe

[2016-06-07 22:42] erikdw commented on #140
@jaimelive : phew, finally the `mesos-0.28.2` packages were available and the builds passed.  So the fixed packages and docker images for v0.1.3 are here:
* https://hub.docker.com/r/mesos/storm/tags/
* https://github.com/mesos/storm/releases

[2016-06-07 22:42] #140 closed

[2016-06-08 20:00] #144 closed

[2016-06-10 20:55] dsKarthick opened #147 "Support disk resource isolation"
Mesos offers disk as a range resource. We should support isolating disk resources.

[2016-06-10 22:13] erikdw opened #148 "reservations are totally broken"
@dsKarthick noticed a logic flaw with the existing use of reservations in storm-mesos:

#### Problematic sequence of events
1. say an executor/MesosSupervisor is launched using some reserved resources for a role, and say the role is called `storm-mesos-foo`.
2. then later we try to launch another task (storm worker) onto the same host, and thus under the same executor.  That subsequent task's `Exe

[2016-06-19 06:21] erikdw commented on #128
FYI, I'm holding off working on the branch-split until @dsKarthick 's big change in PR #146 lands, since it's a bunch of code.  We'll then let it bake for a week or so in our staging environment, after which I will proceed to perform this split and we can start iterating on storm-1.0+ support in the master branch.

[2016-07-08 06:33] Spritekin opened #155 "Storm executors not starting with mesos+docker"
Hi,
I'm running Mesos 0.28.0 on CoreOS 1010.5 so everything in my environment is dockerized.
I installed Storm using Marathon. I first used mesos/storm:0.1.4-0.10.1-0.28.2-jdk8 (yes I know different mesos versions but please please keep reading to the end). The Service and UI started fine. This is my Marathon json .
[code]

Then I submit the word-count sample. All goes fine:
[code]

The problem is

[2016-07-08 06:43] erikdw commented on #155
@Spritekin : it's notable that you have a log line showing that the Mesos Executor (MesosSupervisor) was sent a `shutdown()` call through Mesos.  Do the mesos-slave & mesos-master logs say anything about *why* the Executor was sent a shutdown call?  i.e., it seems to me like *something* is asking the Executor to shutdown but I'm unclear if that is before or after some other event/failure and thus

[2016-07-08 06:48] erikdw commented on #155
Have you looked at the mesos fetcher & executor logs on the worker host?  How about the stdout/stderr in the sandbox `cwd`?  BTW, we can chat in gitter.im (see link on project home) if you wanna talk through it real quick.  (I'm not super familiar with running the project within docker and have never used marathon, but I can try to help.)

[2016-07-08 07:00] Spritekin commented on #155
@erikdw
I will try to update this ticket with a full set of logs. But there isn't really that much information to add. The reason of the crash is quite obscure.

[2016-07-08 07:01] erikdw commented on #155
@Spritekin : it looks to me like the MesosSupervisor *doesn't* crash, it's being killed immediately after it starts for *some* reason.

[2016-07-08 07:31] Spritekin commented on #155
This is weirder than I thought... I need time to explore more...

[2016-07-08 09:55] Spritekin commented on #155
Ok, so I wen't home, opened a connection to the server in AWS and suddenly I see it working for the last hour... like it tried again and again until it managed to start.

So now I have to kill it and find why it worked...

[2016-07-08 15:43] DarinJ commented on #155
@spritekin on your mesos slaves what is framework_executor_timeout set to (if set)?

[2016-07-12 01:23] Spritekin commented on #155
@DarinJ
The slaves executor timeout is set to 3 min. I use that to give time for the slaves to download any docker image.
There is, however, a reregistration-timeout value that is passed as 2 seconds. Might be the problem.

I will close while I explore more. Might be a problem of starting all (master, slaves, storm) using docker.

[2016-07-12 01:23] #155 closed

[2016-07-13 03:19] erikdw commented on #155
@Spritekin : thanks for closing it for now.  Let us know what you find.  I spent a bit of time starting to get a coreos + mesos setup going in a VM, but most of the tutorial stuff online for that is very dated.  So put it on the backburner for now.

[2016-07-18 04:19] erikdw opened #158 "enhance scheduling to act more predictably"
We should have an option to force scheduling onto the number of workers requested ([Config: "topology.workers"](https://github.com/apache/storm/blob/v0.9.6/storm-core/src/jvm/backtype/storm/Config.java#L531-L538)).  That will prevent various pathological scenarios where we cannot prevent topologies from becoming unbalanced with respect to the storm executors per storm worker process.

For example,

[2016-07-19 19:01] erikdw opened #159 "reconcile Mesos state with MesosNimbus"
The MesosNimbus scheduler does not have support for reconciling the state in the Mesos cluster when the scheduler restarts.  This prevents knowledge within the MesosNimbus code about the currently running set of Storm Supervisors (Mesos Executors) and Storm Workers (Mesos Tasks).

We need that knowledge in order to implement support for reservations and also have finer grained control over schedul

[2016-07-19 19:17] erikdw opened #160 "avoid accounting for Mesos Executor resources when supervisor already exists"
Right now the `MesosNimbus` scheduler code is necessarily naive about the actual resources required for the tasks, since it has no way to consistently account for the supervisors already existing.

i.e., say you need 1 CPU per worker/task, and 0.5 CPUs per supervisor/executor, and say there is already a supervisor on the target host.  In that case we *really* only need 1 CPU to schedule a task, ho

[2016-07-20 10:14] handmail commented on #128
@erikdw I built Storm 1.0 and mesos 0.28.2 , but failure .
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project storm-mesos: Compilation failure: Compilation failure:

[2016-07-20 19:30] erikdw commented on #128
@handmail : yes, that is fully expected -- as discussed above, the issue is that the storm project changed their base package path from `backtype` to `org.apache`.  I'm still wrestling with #154 and need that fixed before I do the breaking change proposed above.

[2016-07-21 21:39] erikdw opened #161 "use BigDecimal or fixed point math for Offer resource calculations"
During testing of PR #154 we noticed that the floating point math done in the AggregatedOffers logic can lead to incorrectly accounting for the resources used.  e.g., with CPUs available being 4.1 and then having a worker need 1.1 CPUs, the subtraction lead to the CPUs being 2.9999999999999996 instead of 3.0 as expected.  [1]

The effect of this will be a failure to squeeze every bit of resources

[2016-07-21 21:56] erikdw opened #162 "automatically update release headline & description with changes URL"
After the fixes for having automatic releases done by running `mvn release:clean release:prepare` (#127, #139, etc.), we still have to manually edit the headline and description of each release.

One of the things we add to the description/body of the release is a URL like the following:
- [Changes from v0.1.3 to v0.1.4](https://github.com/mesos/storm/compare/v0.1.3...v0.1.4)

That should be autom

[2016-07-21 21:56] erikdw commented on #127
We fixed 1. & 2. already.  3. is a nice-to-have.  (to automatically update the description with a link to the changes between the tags)   I've filed that issue as #162.  So this issue (#127) is complete.

[2016-07-21 21:56] #127 closed

[2016-07-22 01:07] erikdw opened #163 "bundle storm-mesos code into release tarball"
At least while debugging / testing it will be invaluable to include the actual source code, since we perform many iterations.  So perhaps we should gate this on the version having `-SNAPSHOT` in it.  Since the `build-release.sh` script is responsible for the [creation of the package tarball](https://github.com/mesos/storm/blob/92f5b047230ad36e1779f983f841431a87c3e4df/bin/build-release.sh#L92-L122)

[2016-07-27 07:40] erikdw commented on #163
Propose to use this method:
[code]

That will create a dangling commit / ref.  which can be later be seen via `git fsck --unreachable`, and cleaned up via `git gc --prune=now`.

One downside with this method is that it won't include new files which haven't been added.  However, it is more future-proof against changes in the directory structure and set of files and avoids inclusion of various binar

[2016-07-27 09:13] #163 closed

[2016-07-27 09:13] erikdw commented on #163
Fixed via #165.

[2016-07-30 03:27] erikdw commented on #50
After our work on PR #154 we now have much better understanding of how Storm ends up scheduling work, and we actually have control over whether workers are actually scheduled.  So I believe we can work on preventing the hoarding of resources.  i.e., we will experiment with only starting to accumulate Offers when we have a topology that is in need of more slots.

[2016-07-30 03:36] erikdw commented on #132
@drewrobb : we discovered a corner case in the code prior to #154 which might explain the behavior above.  In our own storm-mesos-specific scheduler logic, we had a pathological case:

* if all executors got assigned to less than the requested number of workers, then we would never explicitly try to spread those executors out, even if we had enough available slots to reassign all workers.

We have

[2016-08-05 23:26] JessicaLHartog opened #166 "Ability to Force Worker Spreading Across Hosts"
Sometimes the approach of "let Storm do its own thing" when it comes to scheduling worker slots can lead to interesting scenarios:

(1) A topology may wish to enable running agents in the JVM which listen on predefined ports (such as JDWP debugging or JMX remote). In such a scenario if the port is statically defined somewhere, then two workers on the same host will stall the topology. For example,

[2016-08-07 05:30] dsKarthick commented on #166
@JessicaLHartog +1 for `topology.mesos.scheduler` - Thats the whole reason behind creating `Scheduling Framework` described in https://github.com/mesos/storm/pull/93.

I would like to propose `IsolationScheduler` along with your multifarious schedulers - such a scheduler would dedicate set of hosts for a particular topology while also ensuring no other worker gets scheduled on to the dedicated hos

[2016-08-07 07:00] erikdw commented on #166
@dsKarthick : nice, "multifarious", I didn't know that word!  ✋ ✋ (high five).  And then following it up with "nefarious".  "(multi/ne)farious".  I wonder what other words end with "farious"... ahh: http://wordinfo.info/unit/3613/ip:1/il:F

But back on topic:  yes, totally, we should have that too.

[2016-08-08 18:35] drewrobb commented on #132
@erikdw awesome work by your team. I've been on vacation but am back this week. I'll look to try out release 0.1.5 in our environment this week.

[2016-08-11 09:25] zhanghangchina commented on #128
@erikdw when I built Storm 1.0 and mesos 0.28.2,meet a problem.
 It says "Failed to detect a master: Failed to parse data of unknown label 'json.info'" when it connects to zookeeper.

[2016-08-11 09:26] zhanghangchina commented on #128
@erikdw
how to solve th problem?

[2016-08-11 09:27] zhanghangchina commented on #128
@erikdw
how to solve the problem?

[2016-08-16 04:32] erikdw commented on #128
@zhanghangchina : (I deleted the redundant message you posted".

Can you clarify where you read this message?  (I am not sure you you mean by "It says").
Let's talk about this separately, I don't wanna spoil this (#128) with this tangent, which is likely to be something related to your setup, 'cause I have used this stuff just fine myself.  So like I said in PR #167, please open an issue.

[2016-08-16 07:38] zhanghangchina commented on #166
@erikdw I have a problem.
![2](https://cloud.githubusercontent.com/assets/20829283/17691459/23d4796c-63c7-11e6-88ca-2b599062bee6.PNG)

![1](https://cloud.githubusercontent.com/assets/20829283/17691435/088cd47e-63c7-11e6-90c7-21236211e313.PNG)
![1](https://cloud.githubusercontent.com/assets/20829283/17691446/1658004c-63c7-11e6-8b36-e4941acab69e.PNG)

the last picture says "Failed to detect a master

[2016-08-16 08:29] erikdw commented on #166
Again, please stop posting these messages in random pull requests and issues.  Just file a new issue.

- Erik

[2016-08-16 09:32] zhanghangchina opened #168 "Failed to detect a master: Failed to parse data of unknown label 'json.info'"
I have a problem
please tell me how to solve the problem.
Thank you very much!
![1](https://cloud.githubusercontent.com/assets/20829283/17694514/c4005ffa-63d6-11e6-8de1-a2d3425a0df7.PNG)
![1](https://cloud.githubusercontent.com/assets/20829283/17694540/e51e11d2-63d6-11e6-9b30-0226aab964ac.PNG)
![2](https://cloud.githubusercontent.com/assets/20829283/17694547/f2bcb1c2-63d6-11e6-8585-a0dacc62a9a9.PN

[2016-08-27 19:27] erikdw commented on #168
hey @zhanghangchina : sorry for the delay in response.  I'm actually on vacation right now.  But that issue you are seeing is an error from mesos itself, and thus is not related to [this project](mesos/storm):

[code]

I would ensure your Mesos setup is correct.  e.g., with my setup I have 3 masters here and here's what my `/mesos` dir has in ZooKeeper:
[code]

You may need to clean up the ZK node

[2016-08-27 19:29] erikdw commented on #168
Feel free to comment again, but I'm closing this issue as it's not a problem in this project.

[2016-08-27 19:29] #168 closed

[2016-08-31 12:35] salimane opened #169 "How to deal with mesos master leader changes when you use storm < 1.0.0"
I came across a situation whereby if the mesos master leader is not the same as the node on which the storm nimbus is setup on, the storm ui/setup is borked.
Basically with storm < 1.0.0 cannot cope with multiple mesos masters and mesos master leader changes.
has anyone experienced this ?
cc @erikdw
Thanks

[2016-08-31 23:20] erikdw commented on #169
@salimane : can you tell me more about your setup & what exactly the storm ui being borked means?  We haven't had any problems like this, but we don't run the storm ui nor storm nimbus within the mesos cluster itself.  Only the supervisors & workers are run in our mesos cluster.

[2016-09-09 05:27] zhanghangchina opened #170 "Storm 1.0.2 on Mesos 1.0.0"
What can I do to make storm 1.0.2 integrating into mesos 1.0.0?

[2016-09-09 05:37] erikdw commented on #170
@zhanghangchina :

* Regarding **storm 1.0.2**:  as discussed in #128, we don't have support in the `master` branch of this project for storm 1.0+.  I don't have time to work on that right now, maybe next month.

* Regarding **mesos 1.0.0**:  the project *may* work with mesos 1.0.0.  I'm not sure, I just built it with 1.0.0 from master, and the build completed.  But I'm not sure if it will run cor

[2016-09-09 05:50] zhanghangchina commented on #170
I have verified the success of integratingstorm 0.10.0 into mesos 1.0.0.This is the right thing.Taking the liberty of asking, what time is it done?

[2016-09-09 05:55] erikdw commented on #170
@zhanghangchina : I'm not sure what "this is the right thing" means. ;-)

I have a lot of work responsibilities other than the care & maintenance of this single project (which I've already spent a ton of time on this year to get it to the point that it's at).  So it's hard for me to estimate, I cannot commit to any particular date.  I hope to get time in October.  If you wanted to work on it that

[2016-09-10 11:40] salimane commented on #169
@erikdw sorry I was my mistake. there was a typo in the zookeepers url. closing this

[2016-09-10 11:40] #169 closed

[2016-09-11 02:08] DarinJ commented on #170
@erikdw @zhanghangchina my group is considering the move to Storm-1.0.2, if so that'll force them to free me up enough to work on it.  That likely won't be until late October though.

I'll certainly spare cycles to review and test a PR for this though @ ping me to ensure I pay attention.

[2016-09-12 08:48] erikdw commented on #169
@salimane: ahh, thanks for clearing that up, and no worries.

[2016-09-12 08:48] erikdw commented on #170
@DarinJ : thanks for the offer.  I may get time before that, I'll ping here if so to avoid duplicate work.

[2016-09-23 09:01] handmail opened #171 "How set the value of "worker.childopts: " for every Topology."
I wanted to set the value of "worker.childopts: " for every Topology.
When storm not on mesos, I can do it in this way:
`Config conf = new Config();`
`conf.put(Config.TOPOLOGY_WORKER_CHILDOPTS, "-Xmx4068m");`

After storm on mesos,  above way is workable ?

[2016-09-23 20:14] JessicaLHartog commented on #171
@handmail
So there are two ways I can interpret your "for every Topology" statement, I'll explain both below:

- To set a _default_ of `worker.childopts` for _every topology_ modify [stom.yaml](https://github.com/mesos/storm/blob/master/storm.yaml#L14):
  `worker.childopts: "-Xmx4068m"`
  Note that if you try to set this in your topology, it will show up in the topology config in the Storm UI, but

[2016-09-23 20:19] JessicaLHartog commented on #171
Marking this issue closed. Feel free to re-open if you still have questions.

[2016-09-23 20:19] #171 closed

[2016-09-25 04:46] erikdw opened #172 "Detect "incompatible ExecutorInfo" situation and kill the old Executors"
Sometimes you may witness Storm thinking it has some Storm Worker processes, but the Worker process aren't actually visible as tasks in the Mesos UI.  It will usually surface on the Storm UI's component-view as the Storm Executors having a hostname & port, but the uptime being an empty string.

One of the causes of this situation relates to the contents of the [`ExecutorInfo`](https://github.com/a

[2016-10-09 18:48] liorsbg opened #173 "Help Getting Started"
Hi,
I'm very new to all of this. I just got a cluster up and running with DCOS and Marathon.
I'm a bit confused as to where to get started. Should I run the README instruction on the dcos-master?
I tried creating a Marathon app with the [instruction](https://github.com/mesos/storm#running-storm-on-marathon) in the README, but I'm definitely missing something.

Thanks!

[2016-10-10 23:44] erikdw commented on #173
hey @liorsbg.  I don't use DCOS or Marathon, so cannot speak to how to run within those systems.  The existing documentation in our project was written by @brndnmtthws, maybe he can help if the instructions you linked are insufficient.

The way I and my company run this project is by launching the MesosNimbus daemon outside of the Mesos Cluster.  We use [runit](http://smarden.org/runit/) to launch

[2016-10-14 10:30] dinoba commented on #173
Is there any way to update documentatio, how to start Storm over Marathon?

[2016-10-14 11:11] DarinJ commented on #173
I've done this and could write something up over the weekend.

On Oct 14, 2016 6:30 AM, "dinoba" <notifications@github.com> wrote:

[2016-10-14 11:46] dinoba commented on #173
Looking forward. Thanks

[2016-10-14 14:22] brndnmtthws commented on #173
There is actually an example in the readme already: https://github.com/mesos/storm#running-storm-on-marathon

Perhaps it could be updated with more detail, however.

[2016-10-14 20:47] dinoba commented on #173
I think it should be updated.
Not all of us are experts, so documentation should be more user friendly. Currently I am just investigating this as possible solution for our product. And  mesos, docker, marathon is not something I use everyday.
,

[2016-10-15 16:12] liorsbg commented on #173
I agree, it would be super helpful if the docs were spiffed up just a bit. @erikdw @brndnmtthws those are the docs I linked to in the original question when I opened this issue, unfortunately I was not able to make them work.

[2016-10-20 16:39] ilya-bystrov opened #174 "Invalid host resolution (Nimbus, Docker)"
I run Storm on Mesos via Docker.

Supervisor can not be started because Nimbus service resolve hostname as **localhost**.

nimbus:
`[INFO] Started HTTP server from which config for the MesosSupervisor's may be fetched. URL: http://localhost:45762/generated-conff`

After that fetcher failed. mesos-slave:
`I1020 13:38:45.664760 32717 fetcher.cpp:134] Downloading resource from 'http://localhost:45762

[2016-10-20 17:46] erikdw commented on #174
@ilya-bystrov : try setting `nimbus.host` in `storm.yaml` to your Nimbus's IP.  I improved that behavior in PR #167.

[2016-10-20 20:32] rwd5213 commented on #174
@erikdw I am having the same error even when I specify the nimbus host both in the conf file and as an argument in the storm command . this is the command I am running
./bin/storm jar -c nimbus.host=10.0.130.54 -c nimbus.thrift.port=12078 examples/storm-starter/storm-starter-topologies-0.10.1.jar storm.starter.WordCountTopology word-count

[2016-10-20 20:55] erikdw commented on #174
@rwd5213 : that cmd you pasted isn't starting the nimbus, it's just submitting a topology jar to the Nimbus to be run in the cluster. You need to specify the `nimbus.host` in the configuration of the MesosNimbus when you start that (however you do, it's very specific to your own environment).

[2016-10-20 21:21] rwd5213 commented on #174
@erikdw sorry I forgot to mention that I am running it in marathon using the run-marathon-script so doesn't that start Nimbus. If not how would I specify the configuration and start the MesosNimbus

[2016-10-20 22:30] erikdw commented on #174
@rwd5213 : Ah.  I have never used Marathon, [as mentioned in this issue about those instructions needing some polish](https://github.com/mesos/storm/issues/173#issuecomment-252774891).  But the [Marathon instructions in this project](https://github.com/mesos/storm#running-storm-on-marathon) talk about how to set some options for the nimbus:

You should try setting the `nimbus.host` via those instr

[2016-10-20 22:45] erikdw commented on #174
Oh... even though I've never *used* Marathon I have an inkling of its purpose and how it works -- I think it would put the Nimbus onto some arbitrary host in the cluster.  I'm not sure *how* you'd get the Nimbus to advertise its actual IP out to the Mesos Executors in such a situation when running within Docker.  Welcome any contributions to fix that issue...

[2016-10-21 13:42] rwd5213 commented on #174
@erikdw I got it to work by setting the STORM_NIMBUS_OPTS env in the json for the marathon application. However you have to just guess what machine IP node marathon will put the container on. If you restrict it to only use slave_public nodes then that will help your guessing. Also I am assuming that after the application is running you can exec into the container and set the environment variable t

[2016-10-21 14:25] ilya-bystrov commented on #174
Here is some additional info:
storm-mesos-0.1.7-storm0.10.1-mesos0.28.2

@erikdw :
I'm using Docker. So I added "STORM_NIMBUS_OPTS=-c nimbus.host=**some_node**" environment in storm-nimbus Marathon configuration and it's works fine when nimbus service deployed on **some_node**. _But it's not solve problem in general, because in this case I should care about nimbus host assignment._

Also I tried t

[2016-10-21 14:51] ilya-bystrov commented on #174
@erikdw :
About host assignment.

Actually I find out that marathon pass hostname to the docker process as environment parameter:
`docker -H unix:///var/run/docker.sock run ... -e HOST=actual_node ... -c ./bin/run-with-marathon.sh`

So I think it will be enough to add the following line in **run-with-marathon.sh**
`MESOS_NIMBUS_HOST="$HOST"`

But at now it seems storm-mesos-0.1.7 doesn't respect M

[2016-10-25 15:23] dinoba opened #175 "Tag latest not found in repository docker.io/mesos/storm"
Hi everyone,

I want to run Storm on Mesos with Marathon and Docker with this JSON

[code]

And I get this message ...

`Oct 25 17:17:07 Slave7 mesos-slave[2245]: E1025 17:17:07.720140  2265 slave.cpp:3976] Container '28a93411-6d15-47d1-b550-4fb0f73d0265' for executor 'storm-nimbus.1605ce93-9ac6-11e6-b4f4-080027f5b709' of framework 4277b841-4a4a-4a48-889f-aaa1e3e5730a-0001 failed to start: Failed

[2016-10-25 18:54] DarinJ commented on #174
So when I've done this in the past, I used mesos -dns and set the nimbus
hostname to nimbus.marathon.mesos (taskid of nimbus was nimbus).

On Oct 20, 2016 6:45 PM, "Erik Weathers" <notifications@github.com> wrote:

[2016-10-26 00:40] erikdw commented on #174
@ilya-bystrov : we (my team at my company) have added a ticket into our next sprint to try to get marathon working with this project, since we have never used it before.  Hopefully that will allow us to answer some of these Qs.

[2016-10-26 04:36] erikdw commented on #175
@dinoba : here's where we upload the build Docker images:
* https://hub.docker.com/r/mesos/storm/tags/

Let's break down a version tag's 5 dimensions; e.g., `0.1.7-0.9.6-0.27.2-jdk8-onbuild`:

* `0.1.7`: storm-mesos version (this project's direct version)
* `0.9.6`: storm version (the version of storm this image was built for)
* `0.27.2`: mesos version (the version of mesos this image was built fo

[2016-10-28 08:38] dinoba commented on #175
I was using this example from doc https://github.com/mesos/storm#running-storm-on-marathon

[2016-10-28 08:45] erikdw commented on #175
@dinoba : sure.  As I pointed out in my comment above, and in the linked issue, I don't really know anything about Marathon (yet).  Did my suggestion work?

[2016-10-28 09:14] dinoba commented on #175
It worked, thank you.

Can author update this doc?

[2016-10-29 00:49] erikdw opened #176 "create templates for issues & PRs"
Leverage this new feature provided by GitHub to ensure our issues & PRs are well-formed:
* https://github.com/blog/2111-issue-and-pull-request-templates

[2016-10-31 04:30] erikdw commented on #175
@dinoba : as you noted in [the other issue you filed](#173), the docs for marathon need to be updated.  But, as I've mentioned repeatedly, my team hasn't ever used marathon.  So we don't yet have the experience and knowledge to update the docs.  You in fact have better knowledge at this point -- it's a collaborative project, so PRs for fixing docs are welcome.  However, [as I noted here](https://g

[2016-10-31 04:31] erikdw commented on #173
@JessicaLHartog : as part of updating the docs for marathon, we need to account for the issues mentioned in #174 and #175.

[2016-10-31 04:41] erikdw commented on #128
@DarinJ @zhanghangchina @salimane : I finally completed some of my professional responsibilities that were preventing me from getting to this -- so I'm working on PR #177 to add this support for Storm 1.0+ into the master branch.

[2016-10-31 04:42] erikdw commented on #170
@DarinJ : as [I noted in #128](https://github.com/mesos/storm/issues/128#issuecomment-257212832), I'm finally working on this.

[2016-10-31 07:27] salimane commented on #128
@awesome !

[2016-11-05 22:28] erikdw commented on #128
Complete.  See releases here:
* https://github.com/mesos/storm/releases/tag/v0.2.0
* https://hub.docker.com/r/mesos/storm/tags/

[2016-11-05 22:28] #128 closed

[2016-11-05 22:28] erikdw commented on #170
@zhanghangchina : complete, see [this comment](https://github.com/mesos/storm/issues/128#issuecomment-258646596).

[2016-11-05 22:28] #170 closed

[2016-11-05 22:43] erikdw commented on #58
Via PR #177 we have added support for storm 1.0+.  We haven't done anything specifically for supporting HA Nimbus in this project yet, but now we have the support for the version of storm that includes it.

[2016-11-05 23:34] erikdw commented on #73
Seems it would be hard to do caching of maven artifacts during the *build*, since we'll wanna use a separate data volume that we have the .m2 dir mounted from, and this will complicate the build.  For now I'm going to just close this.

[2016-11-05 23:34] #73 closed

[2016-11-05 23:53] erikdw commented on #162
Would be nice to have, but probably not worth the effort to support (would have to auto-detect the difference in the versions, which isn't necessarily trivial).

[2016-11-05 23:53] #162 closed

[2016-11-06 00:04] erikdw commented on #132
@drewrobb : can you please confirm whether this behavior is gone with 0.1.5 or 0.1.7?  I presume we have fixed this issue now.

[2016-11-06 00:16] erikdw commented on #50
Another idea that was proposed by @tnachen: limit the total number of CPUs (and maybe other resources) that the framework will use.  We'd need to store that state somewhere, unclear where.

[2016-11-06 00:23] erikdw commented on #133
This relates to #173 and #174.  We need to document the recommended approach for using storm-mesos with Marathon.  That will take a bit of time as @JessicaLHartog and I look into this.

[2016-11-06 01:00] erikdw commented on #43
I'm not planning to work on this.

[2016-11-07 01:19] erikdw opened #178 "remove examples from release packages"
The storm releases have increased in size by 8+ times from 0.9.7 to 1.0.2.  Part of that growth is from the `examples/` directory in the binary release being way larger, so we can mitigate the problem by removing that directory when bundling the package up in `bin/build-release.sh`.

[2016-12-14 13:22] chjhaijiang opened #181 "mesos/storm docker images: Upgrading to Mesos v1.1.0"
I see there are serveral docker images in docker hub, but didn't get a document how to upgrade and make it work with mesos 1.1.0.

https://hub.docker.com/r/mesos/storm/tags/

[2016-12-14 14:03] chjhaijiang commented on #181
Is there any dockerfile that was used? Or any tips about how to upgarde https://github.com/mesos/storm/blob/master/Dockerfile?

[2016-12-15 00:07] erikdw commented on #181
@chjhaijiang : we haven't updated for the new Mesos version yet.  We can do that pretty easily if it works to build (it just requires modifying [.travis.yml](https://github.com/mesos/storm/blob/master/.travis.yml) in this repo to have some extra mesos versions, or changing the latest mesos version to be 1.1.0 from 1.0.2).   If you wanna test yourself locally you can follow the [instructions in the

[2016-12-15 03:36] erikdw commented on #181
When [this Travis-CI build](https://travis-ci.org/mesos/storm/builds/184134391) completes, the artifacts will be available in DockerHub as well as on the GitHub releases page for this repo.

[2016-12-15 03:36] #181 closed

[2016-12-15 03:47] erikdw commented on #144
Fixed by #145.

[2016-12-16 15:48] dinoba commented on #175
This marathon task runs well

{
  "id": "storm-nimbus",
  "cmd": "./bin/run-with-marathon.sh",
  "cpus": 1.0,
  "mem": 1024,
  "ports": [0, 1],
  "instances": 1,
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "mesos/storm:0.2.0-1.0.2-1.0.1-jdk8",
      "network": "HOST",
      "forcePullImage":true
    }
  },
  "healthChecks": [
    {
      "protocol": "HTTP",
      "portInd

[2016-12-16 15:51] dinoba commented on #178
@erikdw

can you update doc please.

Example topology should be run like this

./bin/storm jar -c nimbus.host=192.168.1.39 -c nimbus.thrift.port=3681 examples/storm-starter/storm-starter-topologies-1.0.2.jar **org.apache.storm.starter.WordCountTopology** word-count

instead of

storm.starter.WordCountTopology

[2016-12-16 22:33] erikdw commented on #178
@dinoba : feel free to send a PR.  I'm super busy.

[2016-12-16 22:38] erikdw commented on #178
And.... now I see that you did open a PR: #178 is the PR.

[2016-12-16 22:43] erikdw commented on #175
@dinoba : good to know!  So the difference is simply the `container.docker.image` value, right?

[2016-12-19 08:17] dinoba commented on #175
Yes. Also there is way to set   MESOS_MASTER_ZK and STORM_NIMBUS_OPTS directly from Marathon,
"env": {
      "MESOS_MASTER_ZK": "192.168.1.21",
      STORM_NIMBUS_OPTS="-c storm.local.dir=/opt/storm -c topology.mesos.worker.cpu=1"
  }

[2016-12-19 09:41] erikdw commented on #175
Ok, thanks @dinoba, that is useful info for us to record.

[2016-12-20 12:25] mvanholsteijn commented on #155
We actually have the same problem.

[2016-12-20 14:04] mvanholsteijn opened #185 "Storm executors not starting with mesos+docker"
I would like to reopen #155.

[2016-12-20 20:25] erikdw commented on #155
@mvanholsteijn : I cannot provide any more assistance than what is above.  *Why* is your executor being asked to shut down?

[2017-01-03 23:04] erikdw opened #190 "nimbus.host is deprecated, support nimbus.seeds"
As @eyalzek [pointed out](https://github.com/mesos/storm/pull/189), `nimbus.host` is deprecated in storm-1.0+.  `nimbus.seeds` is the new config parameter we should be respecting in the MesosNimbus code.

The Nimbus spits out the following warning when you have `nimbus.host`:

[code]

Note that it will be slightly nuanced to update the MesosNimbus code, as the `nimbus.host` value drives a couple o

[2017-02-16 20:45] erikdw commented on #178
Thanks @fuji-151a for fixing this!

[2017-02-16 20:45] #178 closed

[2017-02-28 19:55] erikdw commented on #43
@fuji-151a & @JessicaLHartog : FYI, this relates to PR #195.  Please take note of @pdread100's initial comment about the user for the Supervisor and Logviewer.   Since the launching of Logviewer is not supported by me in this project (not until [STORM-1342](https://issues.apache.org/jira/browse/STORM-1342) is fixed!), I don't particularly care about that part of it.   And considering the Superviso

[2017-02-28 19:57] erikdw commented on #43
Notably, the idea with this issue was I think to not only allow the storm processes to run as a non-root user, but also to be able to allow different topologies to have different users.  That would be a further enhancement beyond the change proposed to #195.   I suppose it could be a Topology-specific configuration option, similar to the `topology.mesos.worker.cpu` option.  e.g., `topology.mesos.u

[2017-03-03 14:55] fuji-151a commented on #43
@erikdw

I agree.
However, I want to specify separately for the user of Nimbus outside the Mesos cluster and the user of Supervisor inside the Mesos cluster.
I think the function of this issue is very wonderful, but I don't need that thing.

[2017-03-04 20:09] erikdw commented on #43
@fuji-151a : gotcha.  Please give us a bit of time to merge the proposed change in #195, I wanna test it myself first.

[2017-03-26 11:25] geekyminhaj opened #197 "Spout is not reading/emitting data in storm cluster mode"
I am using apache storm 1.0.0 both in local as well as cluster mode. For the spout, I am reading the data from kafka topic (I am using kafka 2.11-0.8.2.1). Spout is reading the data from kafka topic and also emitting the data when I am using storm in local mode but the storm spout is not emitting any data when I am running storm in cluster mode.

**My topology implementation for reading kafka data

[2017-03-26 20:30] erikdw commented on #197
@geekyminhaj : is there any reason you believe this is specific to the storm-on-mesos project?  It seems like this is a general Storm usage question, which would be more appropriately posed on the storm user mailing list:
* https://storm.apache.org/getting-help.html

FWIW, I don't see anything obviously wrong, you'll *definitely* need to dig into this more on your own and provide more information

[2017-03-26 20:30] #197 closed

[2017-04-19 20:19] erikdw commented on #132
We believe this is resolved so I'm closing this issue.  Please reopen if the issue persists.

[2017-04-19 20:19] #132 closed

[2017-07-24 15:38] michaelmoss opened #202 "Storm 1.0.3 Support - MesosSupervisor Committing Suicide"
Hi, All. Tremendous work in getting Storm 1.x support with this framework. So far so good with 1.0.2; thank you everyone for your contributions.

I've attempted to drop in Storm 1.0.3 and ran into an issue which I think is ultimately related to a refactor of converting some clojure code to java in the storm project, specifically the Supervisor (https://issues.apache.org/jira/browse/STORM-2018)

Wh

[2017-07-25 02:43] erikdw commented on #202
@michaelmoss : thanks for both the report and doing investigations into the root cause!  I haven't looked at the changes they made to storm-core's supervisor yet.  I understand the logic pretty well in the old clojure code (for the *supervisor* at least!) and I understand this storm-mesos code well.  So I'll look into it and see if it's acceptable to just accept your proposed PR for using confirmA

[2017-07-25 13:32] michaelmoss commented on #202
Thanks, @erikdw. I'm also attempting to upgrade to 1.1.0 which I will create a separate report for (topologies will not accept any mesos resources).

This has me thinking, is there any value in this project creating separate branches for different versions of storm? How can I help?

[2017-07-25 16:05] erikdw commented on #202
The report you gave here about the issue in 1.0.3 is a tremendous help already!  Only way you could do more for the issue would be if you were totally confident in the behaviors such that you knew for sure that switching from assigned to just confirmAssigned would be ok (I haven't had a chance yet to look into that).

Regarding the 1.1.0 issue, if you could do a similar level of analysis on why th

[2017-07-26 14:58] michaelmoss commented on #202
@erikdw, cool. Will post analysis on the 1.1.0 issue.

What do you think about creating separate branches in this repo to support different versions of storm?

[2017-07-26 15:17] erikdw commented on #202
I *really* don't wanna create any more branches than we need.  We *needed* to create a separate branch for 1.x versus 0.x because of the package path rename (`backtype.storm` -> `org.apache.storm`).  Every extra branch means more work for backporting changes, and we are already way too thin on my team to shepherd that.

[2017-07-26 15:48] erikdw commented on #202
so... I think this *might* be ok.  The general behavior before:

* `confirmAssigned`:  called by the Supervisor core to determine whether a given port it sees as assigned to this host via ZooKeeper is a port that *this* Supervisor should be launching a worker on.  This call is absolutely critical for the correct behavior of storm-mesos:
  * if you have 2 topologies running in a cluster they can ru

[2017-07-26 17:34] erikdw commented on #202
Actually... I think this won't work:  we need to be informed or figure out when there are no workers assigned to this supervisor.  We might have to rely on only tracking the content of the `_taskAssignments` variable and checking that from the suicide-checker.  That *should* work I think.

[2017-07-31 15:10] michaelmoss commented on #202
Thanks, @erikdw. I can take a stab at this today or tomorrow. I'm assuming these changes would be backwards compatible with prior releases in the 1.0.x line, particularly 1.0.2. Will test.

[2017-08-08 02:57] erikdw commented on #134
@JessicaLHartog : I'm pretty sure this is obviated by the changes in PR #200 , so I'm going to assign this to you to move to its final disposition.

[2017-08-09 16:38] JessicaLHartog commented on #134
You're right @erikdw, this is fixed in PR #200. Will close this issue once that's good to merge.

[2017-08-10 06:17] #202 closed

[2017-08-16 00:34] erikdw commented on #202
Released v0.2.3 of this project with the fix from #208 included.
* https://github.com/mesos/storm/releases/tag/v0.2.3

So this issue is done.

[2017-08-16 05:34] erikdw commented on #134
Closing this per [@JessicaLHartog 's comments](https://github.com/mesos/storm/issues/134#issuecomment-321311251).

[2017-08-16 05:34] #134 closed

[2017-08-16 05:34] erikdw commented on #50
This is fixed by the change in #200.

[2017-08-16 05:34] #50 closed

[2017-08-16 06:12] erikdw commented on #50
v0.2.4+ has this fix.  For v0.1.x (storm-0.x support) we haven't done a release yet.

[2017-08-16 06:13] erikdw commented on #134
v0.2.4+ has this fix. For v0.1.x (storm-0.x support) we haven't done a release yet.

[2017-08-22 02:56] erikdw opened #214 "Storm v1.1.0+ breaks storm-mesos"
This problem looks to be very tricky indeed.  I will add details later, for now you can read about the change that broke us in a [comment I added to STORM-2126](https://issues.apache.org/jira/browse/STORM-2126?focusedCommentId=16136150&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16136150).

[2017-08-22 02:57] erikdw commented on #202
@michaelmoss : FYI, I spent some time today to dig into the storm v1.1.0+ not working issue:  it's really bad.  I file a new issue in our project here: #214

[2017-09-01 22:01] erikdw opened #215 "logviewer automatic launching support with Docker"
The implementation we're adding for automatically launching the logviewer as a "sidecar" task on each host that holds one our Mesos Framework's worker processes is only targeted for the default Mesos containerization case.  We aren't considering how to do this when using Docker for now.

[2017-09-12 19:31] erikdw opened #216 "tests are much more noisy after logviewer autolaunching change"
As part of logviewer autolaunching we added a wrapper around the Apache Curator library for our code to directly manipulate state in ZooKeeper.  This resulted in a bunch of noisy log lines during the maven tests, looking like the following:

[code]

We should look into leveraging the in-process ZooKeeper server that seems to be launched:

[code]

[2017-09-18 21:28] erikdw opened #218 "logviewer: check if port is available"
In our new (as of PR #212) functionality to auto-launch logviewers, we should try to ensure the port is actually available.  Otherwise the storm logviewer will appear to come up even though the port wasn't bindable.

[2017-09-18 21:29] erikdw commented on #218
One idea: maybe a wrapper / initial cmd to be executed which needs to succeed before we launch the logviewer. Where that cmd could be something like:

[code]

[2017-09-21 05:56] aleafboat opened #219 "Cannot submit topology in local mode on Storm 1.1.0"
6449 [main] INFO  o.a.s.d.s.Supervisor - Starting supervisor with id 3f59c94d-4e2a-4b68-89f3-ab7d57a0ab8b at host wangchuanyi.ds.gome.com.cn.
6561 [main] WARN  o.a.s.d.nimbus - Topology submission exception. (topology name='srslog') #error {
 :cause nil
 :via
 [{:type org.apache.storm.generated.InvalidTopologyException
   :message nil
   :at [org.apache.storm.daemon.common$validate_structure_BANG_

[2017-09-21 06:44] eweathers commented on #219
Storm 1.1.0+ cannot work at all anyways, see #214.  Until we get some fundamental changes in storm we are unlikely to have this project working with anything newer than Storm 1.0.x.

[2017-09-21 06:46] erikdw commented on #219
That last comment was added using my other (defunct) github username.  This is my normal one.

[2017-09-21 19:28] erikdw commented on #219
I am curious exactly what is being attempted here though.  I was able to submit my topology on storm 1.1.0 as (partially) documented in #214, but the MesosNimbus could never schedule any supervisors to launch.

So what are you doing with storm-mesos that leads to this failure?  How are you "submitting in local mode"?

[2017-10-17 19:54] kiryllbondar opened #221 "Storm v1.0.5 breaks storm-mesos"
Hello, i'm trying to build storm 1.0.5 mesos 1.4.0
`STORM_RELEASE=1.0.5 MESOS_RELEASE=1.4.0 bin/build-release.sh`
but getting error:
[code]

[2017-10-17 23:01] erikdw commented on #221
Thanks for the report, I can reproduce this issue, but not sure of any details.  If you can determine the root cause that will be helpful otherwise this will not get any attention for weeks if not months.

[2017-10-17 23:07] erikdw opened #222 "Storm v1.0.4 breaks storm-mesos"
Seems the `TopologyDetails()` constructor has changed from Storm v1.0.3 to Storm v1.0.4.
Yet another non-obvious dependency between this project and Storm proper.

Built using this command:
[code]

Leading to these compilation errors:
[code]

[2017-10-17 23:09] erikdw commented on #221
This is thematically related to #202 , #214 , #219 , and #222 .  Notably, even if we fix #221 (this issue) you will likely still hit #222.

[2017-10-18 06:58] kiryllbondar commented on #221
Thank you a lot. Hope we will have some fix soon

[2017-10-18 21:09] erikdw commented on #221
@kiryllbondar : sorry to be obtuse, but are you saying "we" as in {you, your own team/company} will be providing a fix soon?   "We" as in me and my team/company will not be able to work on this for a long time, maybe during Thanksgiving or Christmas time.

[2017-10-19 02:20] JessicaLHartog opened #225 "Customizable Task IDs"
Right now, the Task IDs for a task are determined by the following [code](https://github.com/mesos/storm/blob/72681481f4df0ab33da08f7b6e9d9ba3db17c85e/storm/src/main/storm/mesos/MesosNimbus.java#L729).

[code]

However, in future versions of Mesos (beyond 0.28.2) tasks on the UI are identifiable using their framework name, instead of having to have that information embedded into the task ID. Since

[2017-10-19 07:36] kiryllbondar commented on #221
@erikdw : We, I mean all people who use this functionality :) Unfortunately I do not have the skills to deal with this problem on my own.

[2017-10-19 08:32] erikdw commented on #221
@kiryllbondar : thanks for clarifying :)

[2017-10-19 23:30] JessicaLHartog opened #226 "Storm Rebalance Broken"
After the merging of #200 and #213 rebalance of topologies no longer does anything. This is because there are no offers on which slots can be made when a rebalance happens unless there happen to also be other topologies needing assignments.

This is as a result of the way that Nimbus handles the `TopologiesMissingAssignments` component. A quick rundown of what now happens is:
* `storm-mesos` does

[2017-10-20 00:05] JessicaLHartog commented on #226
Possible solutions:

### Write logic that scrapes ZK state to see if there are any topologies in `REBALANCING` state, and if there are stop suppressing Offers.

**Positive(s):**
* This would be able to accumulate Offers in anticipation of needing them to execute a `:do-rebalance`.
* This limits the amount of perpetual offer collecting by this framework.

**Negative(s):**
* This is complicated and

[2017-10-23 21:35] michaelmoss opened #227 "Storm 1.0.x Issues: Nimbus Restart and Supervisor Explosion"
![mesosui-storm](https://user-images.githubusercontent.com/1246228/31914211-cb82175a-b817-11e7-823a-03e8760ac20a.png)

I've noticed on several occasions far too many supervisors being spawned on our mesos cluster. There would be supervisors consuming mesos resources on machines where the topology wasn't even running.

In my research, I noticed that some topologies were associated with inactive mes

[2017-10-23 22:18] erikdw commented on #227
@michaelmoss : we do not run nimbus inside the Mesos cluster ourselves.  I think you are reporting separate issues here.

1. nimbus stopping & starting leads to new framework instance
2. lingering supervisors that should be killing themselves

The 1st should be pretty easy to explain:  the MesosNimbus code records the framework ID into the local filesystem of the Nimbus.  When you restart the Nimb

[2017-10-23 22:50] erikdw commented on #227
@michaelmoss : I'm analyzing the logs (nimbus, supervisor, mesos-slave/agent, mesos-master) and it seems the situation leading to zombie-supervisors is something like this:

1. MesosNimbus schedules worker (mesos task) onto host
2. MesosSupervisor receives `Executor.launchTask()`, and sends `TASK_RUNNING` status back.
3. Nimbus-core in the meantime has scheduled the worker away from the host for s

[2017-10-25 22:05] michaelmoss commented on #227
@erikdw, thanks for breaking this down and providing these leads.

For issue 1, "nimbus stopping & starting leads to new framework instance":
In experimenting with the blobstore,
supervisor.blobstore.class: "org.apache.storm.hdfs.blobstore.HdfsClientBlobStore"
nimbus.blobstore.class: "org.apache.storm.hdfs.blobstore.HdfsBlobStore"

I failed to realize that while the blobstore stores the topology j

[2017-10-25 22:23] erikdw commented on #227
@michaelmoss : oh, interesting I didn't know that the blobstore had that functionality.  To be fair, the only state that we store in the local filesystem from MesosNimbus is the Framework ID.  We've already talked about shoving that into ZK, and after @changreytang 's changes to add logviewer launching with task reconciliation, the groundwork has already been laid to easily shove the Framework ID

[2017-10-26 14:49] michaelmoss commented on #227
Thanks. I do wonder what the utility of running 2+ Nimbus servers in HA mode when marathon itself can keep things running (and one is ensuring that the blobs/topologies + nimbus config is backed up - as we are).

[2017-10-26 19:17] erikdw commented on #227
@michaelmoss : ah, good point.  I have still never used marathon, I'm only familiar with it in theory, but this could avoid us needing to spend any time on trying to support HA Nimbus directly.

[2017-10-29 10:25] erikdw commented on #227
@michaelmoss: I have tested a simple candidate fix for [STORM-2690](https://issues.apache.org/jira/browse/STORM-2690), which [adds a call to `ISupervisor.assigned()` ](https://gist.github.com/erikdw/3d9eea7eb2028e22da5b17ded20e0899) from the storm-core supervisor code.  It also requires [reverting some of the changes](https://gist.github.com/erikdw/7e35d455de871b73a155745fa4bd2f3f) in this project

[2017-11-02 13:34] michaelmoss commented on #227
@erikdw what a relief. I was a bit worried I would have to jump into the abyss of that storm code to figure this out, but it looks like you know it well.

I'm watching and voted on STORM-2690, I suppose we are waiting on the storm project to get this patch in to move forward?

Do let me know how I might help.

[2017-11-02 15:43] erikdw commented on #227
@michaelmoss : I'll need to propose the patch and get it merged in, yup.  Don't foresee that being *too* much of an issue.  Maybe have to negotiate / beg a bit since they probably don't want 1.0.x to have much development on it, but it's the last version where we can have storm-mesos support without extreme hijinks.  See issue #214.  But it will take them time to cut a new 1.0.x release I am prett

[2017-12-14 00:59] JessicaLHartog commented on #222
This was inadvertently broken by @revans2 in Storm in this commit: https://github.com/apache/storm/commit/44b80fbfcf8a52b6e7cb3840a52ff07f8a2364e4

Namely, `owner` is now a required parameter in all `TopologyDetails` constructors.
* [storm 1.0.3](https://github.com/apache/storm/blob/v1.0.3/storm-core/src/jvm/org/apache/storm/scheduler/TopologyDetails.java#L58-L82)
  * `public TopologyDetails(Strin

[2017-12-15 18:52] JessicaLHartog commented on #221
Looking into this, and leveraging the changes in #232 Storm 1.0.5 builds successfully with the Mesos versions in `.travis.yml`. This breakage in particular is related instead to Mesos 1.4.0.

Looking into this, the following is the result of successive compilations:

| Storm Version | Mesos Version | Build Status  |
|---------------|----------------|--------------|
| 1.0.5                | 1.1.0

[2017-12-15 19:07] JessicaLHartog commented on #221
I'll be closing this issue since this is solved once #233 is merged.

[2017-12-15 19:07] #221 closed

[2017-12-18 16:12] revans2 commented on #222
@erikdw and @JessicaLHartog really sorry about that.  I don't always know what is and isn't being used outside by other projects.  Please file  JIRA against storm and assign it to me.  I will be happy to revert the change and make it so owner is optional in storm 1.x

[2017-12-18 18:21] erikdw commented on #222
@revans2 : thanks for the message!  I'm not sure what @JessicaLHartog's view is, but we should be able to workaround this particular clash pretty easily.

There is a much worse incompatibility we've encountered, as mentioned in #214 and [STORM-2126](https://issues.apache.org/jira/browse/STORM-2126?focusedCommentId=16136150&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comme

[2017-12-18 18:26] revans2 commented on #222
@erikdw please file the JIRA for the issues around STORM-2126 and assign it to me.  If you could include some kind of a unit or integration test that would be great so we can avoid breaking you again in the future.

[2017-12-18 18:33] erikdw commented on #222
@revans2 : agreed that it would be best to do that!  But at this juncture this project cannot function with the way Storm-1.1+ works, so until we can figure out how to workaround this fundamental incompatibility it wouldn't be possible to have such a test.  Figuring out how to overcome this new-ish incompatibility (Storm requiring Supervisor before Slots, storm-on-mesos requiring Slots before Supe

[2017-12-18 19:20] revans2 commented on #222
@erikdw I agree that supervisors don't provide a lot of value in storm either.  In 2.x though we can change a lot of the concepts in storm, and perhaps we can go a different route that is going to be better longer term.

The concept of a supervisor only exists in nimbus so the scheduler knows where it can/should put executors.  RAS really needs some of this information to work properly, both in te

[2017-12-18 19:42] erikdw commented on #222
@revans2 : you've given this a lot of thought already!  It sounds like this is going the right direction for Storm to integrate much better with Mesos than it does today.  We'd love to work with you on ensuring the underlying APIs are proper for Mesos as much as our work schedules will allow (we'll have to fight for time within our company as there are competing high priority initiatives).

BTW, o

[2017-12-18 21:27] revans2 commented on #222
@erikdw yes it is all about finding time vs our current priorities right now.  But we have been really looking at the scheduler lately so I am hopeful to be able to "sneak" it in as a part of our work on elasticity.

[2017-12-18 23:12] #222 closed

[2018-01-21 03:33] srikanth-viswanathan commented on #227
Hi @erikdw, thanks for the support on this ticket thus far. I see that your PR to the storm (core) project was accepted and merged. Does this mean that the only item left here is to apply this diff https://gist.github.com/erikdw/7e35d455de871b73a155745fa4bd2f3f to this project and cut a new release? Happy to test this in my environment, if that helps confirm that the fix works.

[2018-01-24 04:43] #227 closed

[2018-01-24 05:34] erikdw commented on #227
@srikanth-viswanathan : I've gone ahead and merged the "reverting" change [1], built this project with our own [custom version of storm-1.0.5](https://github.com/erikdw/storm/releases/tag/v1.0.5-storm-mesos1).  The [new artifact](https://github.com/mesos/storm/releases/tag/v0.2.5) is v0.2.5.

Please check out the other changes we put into the custom storm version.  They're needed for us, not sure

[2018-01-24 14:30] srikanth-viswanathan commented on #227
Thanks @erikdw. I took at look at the changes in the custom version, and it doesn't seem like I will need anything other than the reversion. We maintain a private fork anyway, so I'll cherry pick these changes.

Also, it doesn't appear that this is going to need to depend on storm 1.0.6 if we continue to use reflection to invoke `Supervisor.launchDaemon()` - I was a little worried of being blocked

[2018-02-09 09:44] #185 closed

[2018-02-09 19:11] JessicaLHartog commented on #185
Did you close this because you resolved your issue? Or for some other reason?

[2018-02-09 23:56] mvanholsteijn commented on #185
I closed it because it is no longer relevant to me.

[2018-03-17 03:53] srikanth-viswanathan opened #239 "Nimbus should kill already-launched logviewers if relaunched with `sidecar.enabled=false`"
Nimbus should kill already-launched logviewers if re-launched with `mesos.logviewer.sidecar.enabled=false`.

The pertinent use case is: If Nimbus is initially launched with `mesos.logviewer.sidecar.enabled=true` (or absent, which will give it the default `true` value) and then re-launched with `mesos.logviewer.sidecar.enabled=false`. logviewers launched prior to the re-launch are never reaped. Nim

[2021-10-26 05:23] mayankdhiman27 commented on #214
hi @erikdw ,
I am using storm 1.2.1, and I am getting exception:
`3488 [main] WARN  o.a.s.u.Utils - STORM-VERSION new 1.2.1 old 1.2.1
3505 [main] WARN  o.a.s.d.nimbus - Topology submission exception. (topology name='streamline-1-test-app') #error {
 :cause nil
 :via
 [{:type org.apache.storm.generated.InvalidTopologyException
   :message nil
   :at [org.apache.storm.daemon.nimbus$mk_reified_nimbus

[2021-10-26 06:05] erikdw commented on #214
hi @mayankdhiman27 : AFAIK you won't be able to use Storm 1.1+ with this project.  Note that [mesos itself is also basically deprecated](https://thenewstack.io/apache-mesos-narrowly-avoids-a-move-to-the-attic-for-now/), so you should probably be looking to move to another project like k8s.